<!DOCTYPE HTML>
<HTML>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--
        <link rel="canonical" href="https://www.snocountry.com/snow-reports/us/{{ stateLongNameLowerCase }}">
        <base href="https://www.snocountry.com/snow-reports/us/{{ stateLongNameLowerCase }}" />
        -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Mountains Snow, Snow for , Snow in {{ stateLongName }}, {{ stateLongName }} Ski Report, {{ stateLongName }} Snow, Snow {{ stateLongName }}, Ski Report {{ stateLongName }}, {{ stateLongName }} snow report, Snow Report {{ stateLongName }}, where is the snow in {{ stateLongNameLowerCase }}" />
        <meta name="rights" content="Copyright © 2019. All Rights Reserved." />
        <meta name="author" content="Snow Reports" />
        <meta name="robots" content="index,follow" />
        <meta name="description" content="The latest {{ stateLongName }} snow report on conditions, trails, lifts and weather for each ski resort in {{ stateLongName }}." />
        <title>{{ stateLongName }} Snow Report and Weather Conditions | SnoCountry</title>

        <meta property="og:title" content="{{ stateLongName }} Snow Report and Weather Conditions | SnoCountry" />
        <meta property="og:description " content="The latest {{ stateLongName }} snow report on conditions, trails, lifts and weather for each ski resort in {{ stateLongName }}" />
        <meta property="og:url" content="https://www.snocountry.com/snow-reports/us/{{ stateLongNameLowerCase }}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="SnoCountry" />
        <meta property="og:image" content="https://www.snocountry.com/images/snocountry_logo_v2.png" />
        <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://www.snocountry.com/","name":"SnoCountry.Com","description":"Ski Resorts and Snow Reports, for the Snowboarder and Skier","publisher":"SnoCountry"}
        </script>
        <script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"SnoCountry","legalName":"SnoCountry, Inc","url":"https://www.snocountry.com/","logo":"https://www.snocountry.com/images/snocountry_logo_v2.png","foundingDate":"1968","sameAs":["https://www.facebook.com/SnoCountryMountainReports/","https://twitter.com/SnoCountryCom","https://www.youtube.com/channel/UCyWmeXdZjJYZ-VafL9ijq5g"]}
        </script>
        

        <link rel="stylesheet" href="assets/css/fonts.css">
        <link rel="stylesheet" href="assets/css/snocountry-base.css">
        <link rel="stylesheet" href="assets/css/state-page.css">

        <link rel="stylesheet" href="assets/css/state-page-card.css">

        <link rel="stylesheet" href="assets/css/padding-margin.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        
        <div class="">
        <div class="section header">

        <div class="wrap">

            <div class="logo">

                <a href="/"><img src="assets/images/snocountry_logo_v2.png" /></a>

                <ul class="zone-switch"><div id="version-page" class="version-page">Skunkworks v2.0</div>

                    <li id="servertime" class="winter-zone active ">n/a</li>
                    <li id="browsertime" class="summer-zone "></li>

                </ul>

            </div><!-- end logo -->

            <div class="mobile-nav">

                <div class="m-nav">

                    <a href="#" class="mobile-book"></a>

                    <a href="#" class="mobile-menu"></a>

                </div><!-- end nav -->

                <div class="clear"></div>

                <div class="mobile-socials socials"> 

                    <ul class="socialist">

                    <!--<li class="search"><a href="#" target="_blank" title="Search the site"></a><form><input value="Search" name="search" type="text"/></form></li>-->

                    <li class="youtube"><a href="#"  target="_blank" title="Visit our channel on Youtube"></a></li>

                    <li class="instagram"><a href="#"  target="_blank" title="Follow us on Instagram"></a></li>

                    <li class="facebook"><a href="#"  target="_blank" title="Like us on Facebook"></a></li>

                    <li class="twitter"><a href="#"  target="_blank" title="Follow us on Twitter"></a></li>

                    </ul>

                </div>

            </div><!-- end mobile menu -->





            <div class="topnav" id="topnav">

                <a href="#" class="mobile-close"><i class="icon-remove-sign"></i> Close</a>

                <ul class="navigation clearfix">

                    <li class="menu-usa"><a href="#" onclick="return false;"><h2>U S A<br/>Conditions</h2></a>

                        <div class="menu-dropdown" id="background-usa">

                            <ul class="menu-group">

                                <li class="">

                                    <span>NORTHWEST</span>

                                    <ul>

                                        <li><a href="snow-report.php?state=AK">Alaska</a></li>
                                        <li><a href="snow-report.php?state=ID">Idaho</a></li>
                                        <li><a href="snow-report.php?state=OR">Oregon</a></li>
                                        <li><a href="snow-report.php?state=WA">Washington</a></li>

                                    </ul>

                                </li>

                            </ul>



                            <ul class="menu-group">

                                <li class="">

                                    <span >MIDWEST</span>

                                    <ul>

                                        <li><a href="snow-report.php?state=IA">Iowa</a></li>
                                        <li><a href="snow-report.php?state=IL">Illinois</a></li>
                                        <li><a href="snow-report.php?state=IN">Indiana</a></li>
                                        <li><a href="snow-report.php?state=MN">Minnesota</a></li>
                                        <li><a href="snow-report.php?state=MO">Missouri</a></li>
                                        <li><a href="snow-report.php?state=MI">Michigan</a></li>
                                        <li><a href="snow-report.php?state=OH">Ohio</a></li>
                                        <li><a href="snow-report.php?state=WI">Wisconsin</a></li>

                                    </ul>

                                </li>

                            </ul>

    

                            <ul class="menu-group">

                                <li class="">

                                    <span>NORTHEAST</span>

                                    <ul>

                                        <li><a href="snow-report.php?state=CT">Connecticut</a></li>
                                        <li><a href="snow-report.php?state=MA">Massachusetts</a></li>
                                        <li><a href="snow-report.php?state=ME">Maine</a></li>
                                        <li><a href="snow-report.php?state=NH">New Hampshire</a></li>
                                        <li><a href="snow-report.php?state=NJ">New Jersey</a></li>
                                        <li><a href="snow-report.php?state=NY">New York</a></li>
                                        <li><a href="snow-report.php?state=PA">Pennsylvania</a></li>
                                        <li><a href="snow-report.php?state=RI">Rhode Island</a></li>
                                        <li><a href="snow-report.php?state=VT">Vermont</a></li>

                                    </ul>

                                </li>

                            </ul>

                            <ul class="menu-group">

                                <li class="">

                                    <span>SOUTHWEST</span>

                                    <ul>

                                        <li><a href="snow-report.php?state=AZ">Arizona</a></li>

                                        <li><a href="snow-report.php?state=CA">California</a></li>

                                        <li><a href="snow-report.php?state=NV">Nevada</a></li>

                                    </ul>

                                </li>

                            </ul>

                            

                            <ul class="menu-group">

                                <li class="">

                                    <span>ROCKIES</span>

                                    <ul>

                                        <li><a href="snow-report.php?state=CO">Colorado</a></li>

                                        <li><a href="snow-report.php?state=MT">Montana</a></li>

                                        <li><a href="snow-report.php?state=NM">New Mexico</a></li>

                                        <li><a href="snow-report.php?state=UT">Utah</a></li>

                                        <li><a href="snow-report.php?state=WY">Wyoming</a></li>

                                    </ul>

                                </li>

                            </ul>

                            <ul class="menu-group">

                                <li class="">

                                    <span>SOUTHEAST</span>

                                    <ul>

                                        <li><a href="snow-report.php?state=AL">Alabama</a></li>

                                        <li><a href="snow-report.php?state=MD">Maryland</a></li>

                                        <li><a href="snow-report.php?state=NC">North Carolina</a></li>

                                        <li><a href="snow-report.php?state=TN">Tennessee</a></li>

                                        <li><a href="snow-report.php?state=VI">Virginia</a></li>

                                        <li><a href="snow-report.php?state=WV">West Virginia</a></li>

                                    </ul>

                                </li>

                            </ul>

                            

    

                            <div class="menu-feature"><div class="menu-feature-overlay"></div></div>

                        </div>

                    </li><!-- end parent -->

 

                     <li class="menu-canada">

                        <a href="#" onclick="return false;"><h2>Canadian<br/>Conditions</h2></a>

                    

                        <div class="menu-dropdown">

                            <ul class="menu-group">

                                        <li><a href="#">Alberta</a></li>

                                        <li><a href="#">British Columbia</a></li>

                                        <li><a href="#">Manitoba</a></li>

                                        <li><a href="#">New Brunswick</a></li>

                                        <li><a href="#">Nova Scotia</a></li>

                                        <li><a href="#">Ontario</a></li>

                                        <li><a href="#">Quebec</a></li>

                            </ul>

    

    

                            <div class="menu-feature"><div class="menu-feature-overlay"></div></div>

                        </div>

                    </li><!-- end European -->

                
                

                    <li class="menu-europe">
                        <a href="#" onclick="return false;"><h2>European<br/>Conditions</h2></a>
                        <div class="menu-dropdown">
                            <ul class="menu-group">
                                <li class="">
                                    <ul>
                                        <li><a href="#">Andora</a></li>
                                        <li><a href="#">Austria</a></li>
                                        <li><a href="#">Finland</a></li>
                                        <li><a href="#">France</a></li>
                                        <li><a href="#">Germany</a></li>
                                        <li><a href="#">Italy</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="menu-group">
                                <li class="">
                                    <ul>
                                        <li><a href="#">Norway</a></li>
                                        <li><a href="#">Russia</a></li>
                                        <li><a href="#">Spain</a></li>
                                        <li><a href="#">Sweden</a></li>
                                        <li><a href="#">Switzerland</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="menu-feature"><div class="menu-feature-overlay"></div></div>
                        </div>
                    </li><!-- end European -->



                    <li class="menu-southern-hemisphere">
                        <a href="#" onclick="return false;"><h2>Southern <br/>Hemisphere</h2></a>
                        <div class="menu-dropdown">
                            <ul class="menu-group">

                                        <li><a href="#">Argentina</a></li>

                                        <li><a href="#">Australia</a></li>

                                        <li><a href="#">Chile</a></li>

                                        <li><a href="#">New Zealand</a></li>

                            </ul>
                            <div class="menu-feature"><div class="menu-feature-overlay"></div></div>
                        </div>
                    </li><!-- end European -->

                



                    <li class="menu-deals">

                        <a href="#" onclick="return false;"><h2>Great<br/>Deals</h2></a>

                    

                        <div class="menu-dropdown">

                            <ul class="menu-group">

                                <li><a href="#">Deals listed by state</a></li>

                                <li><a href="#">Lift Ticket Deals</a></li>

                                <li><a href="#">Season Passes</a></li>

                                <li><a href="#">Kids Ski FREE - Resort list</a></li>

                                <li><a href="#">Learn To Ski & Ride</a></li>

                                <li><a href="#">Vacation Deals</a></li>

                            </ul>

    

    

                            <div class="menu-feature"><div class="menu-feature-overlay"></div></div>

                        </div>

                    </li><!-- end European -->



                    <li class="menu-news">

                        <a href="#" onclick="return false;"><h2>Get<br/>News</h2></a>

                    

                        <div class="menu-dropdown">

                            <ul class="menu-group">

                                <li><a href="#">Top Stories</a></li>

                                <li><a href="#">Resort Events</a></li>

                                <li><a href="#">SnoCast Weather</a></li>

                                <li><a href="#">Travel News & Offers</a></li>

                                <li><a href="#">Cross Country News</a></li>

                                <li><a href="#">eNewsletter Signup</a></li>

                            </ul>

    

    

                            <div class="menu-feature"><div class="menu-feature-overlay"></div></div>

                        </div>

                    </li><!-- end European -->

                

                    <li class="menu-gear">

                        <a href="#" onclick="return false;"><h2>Gear<br/>Guide</h2></a>

                    

                        <div class="menu-dropdown">

                            <ul class="menu-group">

                                <li><a href="#">Gear News & Reviews</a></li>

                                <li><a href="#">Alpine Equipment</a></li>

                                <li><a href="#">AT & Backcountry Gear</a></li>

                                <li><a href="#">Snowboard Gear</a></li>

                                <li><a href="#">Road Bikes</a></li>

                                <li><a href="#">Cyclocross / Gravel Bikes</a></li>

                                <li><a href="#">Mountain Bikes</a></li>

                            </ul>

    

    

                            <div class="menu-feature"><div class="menu-feature-overlay"></div></div>

                        </div>

                    </li><!-- end European -->



                    <li class="menu-admin" ><a href="#" target="_blank"><h2 class="admin-link">Admin <br/> Login</h2></a></li>
                </ul>
            </div><!-- end top nav -->

            <div class="clear"></div>

        </div><!-- end wrap -->
        <div class="top-swoosh"></div><!-- end swoosh -->
    </div><!-- end header --> 
            <div class="clear"></div>
</div>               

{{ content | safe }}

	<script type="text/javascript" src="assets/js/jquery-1.8.3.min.js"></script>
    <script src="assets/js/snocountry-base.js" type="text/javascript"></script>

    <script type="text/javascript">
    var snoStartLoadTime = new Date().getTime(); 
    document.addEventListener('DOMContentLoaded',(event)=> {
        var pageLoadTime = (performance.timing.domContentLoadedEventStart -  performance.timing.navigationStart) / 1000;
        console.log(`>>> load: ${pageLoadTime}`);
        document.querySelector("#browsertime").innerText = pageLoadTime;
        
        //process progressbars
        (function() {
            let progressBarList = document.querySelectorAll('.progress-bar');
            if (progressBarList) {
                progressBarList.forEach(iterBar => {
                   console.log(`pb:`,iterBar.dataset.percentage); 
                   iterBar.style.width = iterBar.dataset.percentage;
                });
            }
        })();

    });
    </script>
    </body>
</html>


