<footer>
  <div class="action">
    <div id="newsletter-signup" >
      <div class="newsletter-copy">
        Sign up to receive a customized newsletter with snow reports, lift ticket and gear deals, latest resort news and a chance to win lift tickets to your favorite resorts
      </div>
      <div class="newsletter-cta">
        <a href="/news/snonews-signup-page" id="btn-1570025025041" class="newsletter-btn">NEWSLETTER SIGNUP</a>
      </div>
    </div>
    <div id="sno-radio" class="radio">
      <div class="player">
        <div class="head">
          <div class="back"></div>
          <div class="front">
            <div class="avatar">
              <img src="/assets/images/core/radio-transmitter.png"/>
            </div>
            <div class="infos">
              <div class="titulo_song">Listen to SnoCountry Radio</div>
               <div class="tags"><span>Music</span><span>Snow Reports</span><span>Weather</span></div> 
            </div>
          </div>
        </div>
      
      </div>

    </div>
  </div>
  
  <div class="footer-proper">
    <div class="social">

         <a href="https://www.facebook.com/SnoCountryMountainReports/" target="_blank" rel="noopener noreferrer">
            <img class=" jch-lazyloaded" src="/assets/images/core/facebook.png" data-src="/assets/images/core/facebook.png" alt="facebook">
            <noscript><img src="/assets/images/core/facebook.png" alt="facebook" /></noscript></a> 
      <a href="https://twitter.com/SnoCountryCom" target="_blank" rel="noopener noreferrer">
         <img class=" jch-lazyloaded" src="/assets/images/core/twitter.png" data-src="/assets/images/core/twitter.png" alt="twitter">
         <noscript><img src="/assets/images/core/twitter.png" alt="twitter" /></noscript>
      </a>
      <a href="#">
         <img class=" jch-lazyloaded" src="/assets/images/core/instagram.png" data-src="/assets/images/core/instagram.png" alt="instagram">
         <noscript><img src="/assets/images/core/instagram.png" alt="instagram" /></noscript>
      </a>
      <a href="https://www.youtube.com/channel/UCyWmeXdZjJYZ-VafL9ijq5g" target="_blank" rel="noopener noreferrer">
         <img class=" jch-lazyloaded" src="/assets/images/core/youtube.png" data-src="/assets/images/core/youtube.png" alt="youtube">
         <noscript><img src="/assets/images/core/youtube.png" alt="youtube" /></noscript>
      </a>
    </div>
    <div class="info">
      <p class="copyright">© 2023 SnoCountry</p>
      <p class="privacy-policy"><a href="/privacy-policy-terms">Privacy Policy/Terms</a></p>
      <p class="additional-links"><a href="/about-snocountry">About Us</a></p>
      <p class="additional-links"><a href="/contact-us">Contact Us</a></p>
    </div>
  </div>
  
</footer>
<script type="module" src="/assets/js/footer.js"></script>