<footer> 

  <div class="action">
    <div id="newsletter-signup" >
      <div class="newsletter-copy">
        Sign up to receive a customized newsletter with snow reports, lift ticket and gear deals, latest resort news and a chance to win lift tickets to your favorite resorts
      </div>
      <div class="newsletter-cta">
        <a href="/snonews-signup-page" id="btn-1570025025041" class="newsletter-btn">NEWSLETTER SIGNUP</a>
      </div>
    </div>
    <div >
    <!-- /4320550/SnoCountry_ROS_Footer -->
      <div id='div-gpt-ad-1672700508521-0' style='min-width: 468px; min-height: 60px;'>
        <script>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1672700508521-0'); });
        </script>
      </div>
    </div>
  </div>
  
  <div class="footer-proper">
    <div class="social">

         <a href="https://www.facebook.com/SnoCountryMountainReports/" target="_blank" rel="noopener noreferrer">
            <img class=" jch-lazyloaded" src="/assets/images/core/facebook.png" data-src="/assets/images/core/facebook.png" alt="facebook">
            <noscript><img src="/assets/images/core/facebook.png" alt="facebook" /></noscript></a> 
      <a href="https://twitter.com/SnoCountryCom" target="_blank" rel="noopener noreferrer">
         <img class=" jch-lazyloaded" src="/assets/images/core/twitter.png" data-src="/assets/images/core/twitter.png" alt="twitter">
         <noscript><img src="/assets/images/core/twitter.png" alt="twitter" /></noscript>
      </a>
      <a href="https://www.instagram.com/Sno_Cntry/">
         <img class=" jch-lazyloaded" src="/assets/images/core/instagram.png" data-src="/assets/images/core/instagram.png" alt="instagram">
         <noscript><img src="/assets/images/core/instagram.png" alt="instagram" /></noscript>
      </a>
      <a href="https://www.youtube.com/channel/UCyWmeXdZjJYZ-VafL9ijq5g" target="_blank" rel="noopener noreferrer">
         <img class=" jch-lazyloaded" src="/assets/images/core/youtube.png" data-src="/assets/images/core/youtube.png" alt="youtube">
         <noscript><img src="/assets/images/core/youtube.png" alt="youtube" /></noscript>
      </a>
    </div>
    <div class="info">
      <p class="copyright">© 2023 SnoCountry</p>
      <p class="privacy-policy"><a href="/privacy-policy-terms">Privacy Policy/Terms</a></p>
      <p class="additional-links"><a href="/about-snocountry">About Us</a></p>
      <p class="additional-links"><a href="/contact-us">Contact Us</a></p>
    </div>
  </div>
  
</footer>
<script type="module" src="/assets/js/footer.js"></script>