<!DOCTYPE HTML>
<HTML>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% include 'basehref.html' %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="SnoCountry News" />
        <meta name="rights" content="Copyright © 2022. All Rights Reserved." />
        <meta name="author" content="Snow Reports" />
        <meta name="robots" content="index,follow" />
        <meta name="description" content="SnoCountry News" />
        <title>{{ title }}</title>

        <meta property="og:title" content="SnoCountry " />
        <meta property="og:description " content="" />
        <meta property="og:url" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="SnoCountry" />
        <meta property="og:image" content="https://www.snocountry.com/images/snocountry_logo_v2.png" />
        
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.ico">
        <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://www.snocountry.com/","name":"SnoCountry.Com","description":"Ski Resorts and Snow Reports, for the Snowboarder and Skier","publisher":"SnoCountry"}
        </script>
        <script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"SnoCountry","legalName":"SnoCountry, Inc","url":"https://www.snocountry.com/","logo":"https://www.snocountry.com/images/snocountry_logo_v2.png","foundingDate":"1968","sameAs":["https://www.facebook.com/SnoCountryMountainReports/","https://twitter.com/SnoCountryCom","https://www.youtube.com/channel/UCyWmeXdZjJYZ-VafL9ijq5g"]}
        </script>
        
        <link rel="stylesheet" href="/assets/font/mulish-font.css">
        <link rel="stylesheet" href="/assets/css/snocountry-base.css">
        <link rel="stylesheet" href="/assets/css/sno-core.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/genericPage.css">
{% include 'google.html' %}
    </head>
    <body data-source="" >
        
{% include 'nav-header.html' %}
{{ content | safe }}
{% include 'footer.html' %}
  <script type="text/javascript" src="../../assets/js/jquery-1.8.3.min.js"></script>
  <script src="../../assets/js/snocountry-base.js" type="text/javascript"></script>
  <script src="../../assets/js/news.js" type="text/javascript"></script>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded',(event)=> {
        var pageLoadTime = (performance.timing.domContentLoadedEventStart -  performance.timing.navigationStart) / 1000;
        console.log(`>>> load: ${pageLoadTime}`);
    });
  </script>
  </body>
</html>


