      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJ8PTPGTSS"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-YJ8PTPGTSS');
      </script>
      <meta name="google-site-verification" content="OyaU69QyIrD0R7KDmicZl-EPhLpm6JiI547XyxNSiPY" />
      <script defer src="https://cloud.umami.is/script.js" data-website-id="591a94ad-0c2c-4046-ad63-146e87ef1b71"></script>