<!DOCTYPE HTML>
<HTML>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="canonical" href="https://snocountry.com">
{% include 'basehref.html' %}
      <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.ico">
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Skiing, Snowboarding, Snow Reports, Weather conditions, Resort, Resort news" />
      <meta name="rights" content="Copyright © 2025. All Rights Reserved." />
      <meta name="author" content="SnoCountry" />
      <meta name="robots" content="index,follow" />
      <meta name="description" content="Skiing, Snowboarding snow condition reports, weather and resort news." />
      <title>SnoCountry | Snow Reports | Weather Conditions | Resorts | SnoCountry</title>

      <meta property="og:title" content="Snow Report and Weather Conditions | SnoCountry" />
      <meta property="og:description " content="Skiing, Snowboarding snow condition reports, weather and resort news" />
      <meta property="og:url" content="https://snocountry.com/" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="SnoCountry" />
      <meta property="og:image" content="https://snocountry.com/assets/images/snocountry_logo_v2.png" />
      
      <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://snocountry.com/","name":"SnoCountry.Com","description":"Ski Resorts and Snow Reports, for the Snowboarder and Skier","publisher":"SnoCountry"}
      </script>
      <script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"SnoCountry","legalName":"SnoCountry, Inc","url":"https://snocountry.com/","logo":"https://snocountry.com/images/snocountry_logo_v2.png","foundingDate":"1968","sameAs":["https://www.facebook.com/SnoCountryMountainReports/","https://twitter.com/SnoCountryCom","https://www.youtube.com/channel/UCyWmeXdZjJYZ-VafL9ijq5g","https://www.instagram.com/Sno_Cntry/"]}
      </script>

      <link rel="stylesheet" href="/assets/font/mulish-font.css">
      <link rel="stylesheet" href="/assets/css/fonts.css">
      <link rel="stylesheet" href="/assets/css/snocountry-base.css">
      <link rel="stylesheet" href="/assets/css/padding-margin.css">

      
      <link rel="stylesheet" href="/assets/css/layout2.css"> 
      <!-- <link rel="stylesheet" href="/assets/css/base2.css">-->
      <link rel="stylesheet" href="/assets/css/weather-icons.css">
      <link rel="stylesheet" href="/assets/css/home.css">
      <link rel="stylesheet" href="/assets/css/home-page.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/assets/css/sno-core.css">
{% include 'google.html' %}
    </head>
    <body data-source="home" data-snowreport="top-10">

{% include 'nav-header.html' %}

{{ content | safe }}

{% include 'footer-home.html' %}
  <script type="text/javascript" src="/assets/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/assets/js/thrive.min.js"></script>
  <script type="text/javascript" src="/assets/js/carousel.js"></script>
  <script type="text/javascript" src="/assets/js/fade.js"></script>
  <script type="text/javascript" src="/assets/js/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="/assets/js/background_image.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.ui.core.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.ui.datepicker.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.ui.widget.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.ui.accordion.min.js"></script>
  <script src="/assets/js/snocountry-base.js" type="text/javascript"></script>
  <script type="module" src="/assets/js/home-page.js"></script>
<script>
document.addEventListener('DOMContentLoaded',(event)=> {
 
  
});
</script>

    </body>
</html>


