/*  Brandon Grotesque  */
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-MediumItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-RegularItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("https://www.snocountry.com/resorts/assets/fonts/BrandonGrotesque-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
/*  Proxima Nova  */
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-BoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-RegularItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("https://www.snocountry.com/resorts/assets/fonts/ProximaNova-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

