/*  Brandon Grotesque  */
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-MediumItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-RegularItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../font/BrandonGrotesque-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
/*  Proxima Nova  */
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-BoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-RegularItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../font/ProximaNova-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Causten Black';
  src: url("../font/Causten-Black.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}