.container-home {
  height: 100%;
  margin-top:100px;
  padding: 125px 25px 25px;
  background-image: linear-gradient(90deg, #0097BE, #0071AC);
}

.grid-container.region {
  margin-bottom: 10px;
  background:unset;
  grid-template-columns: 2fr 1.3fr 1.3fr 1fr 1fr ;
  div.grid-header {
    color: #373737;
  }
  div.resort-name {
    a.light-button {
      color: #0079c1;
    }
    a.light-button:hover {
      color: white;
    }
  }
  div {
    color:#373737;
    border-bottom: 1px solid rgba(224, 224, 224, 0.45);
    p.surface-terrain {
      margin: 0px;
    }
  }
  div:not(.resort-name) {
    text-align: center;
    font-size:14.5px;
  }
}
.grid-container.region.members {
  grid-template-columns: 2fr 1.3fr 1.3fr 1fr 1fr 1fr 1fr;
}
.m-t-10 {
  margin-top: 10px;
}
.mobile-stories {
  display:none;
}
body {
  height:82%;
  min-height: 850px;
}
.xclose {
  position: absolute;
  right: 12px;
  top: 5px;
  width: 18px;
  height: 18px;
  opacity: 0.3;
}
.xclose:hover {
  opacity: 1;
  cursor: pointer;
}
.xclose:before, .xclose:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #333;
}
.xclose:before {
  transform: rotate(45deg);
}
.xclose:after {
  transform: rotate(-45deg);
}
ul.feature-boxes {
  height: 524px;
  height: 450px;
  .last-region-box {
    border-radius: 0 0px 3px 3px;
  }
}
.latest-flybox {
  width:812px;
}
.fly-box {
  .region-statelist {
    margin-bottom: unset;
  }
}
#top-snowfall {
    margin-block: 15px;
    text-shadow: 0 0 3px #000;  
    text-shadow: 0 0 3px rgba(0,0,0,0.85);
}
#open-resorts {
  margin-block:25px;
  h2 {
    font-size: 40px;
  }
}
div.radio-home-link {
  cursor:pointer;

  .radio-home {       
    margin-top: 25px;
    background: rgba(255,255,255,0.83);
    border-radius: 5px;
    padding: 5px;   
    display:flex;
    flex-flow: column wrap;
    gap:10px;
    

    
    .radio-home-copy {
      display: flex;
      justify-content: center;
      flex-direction: row;
      height: inherit;
      align-items: baseline;
      position:relative;
      .radio-home-header {
        position:relative;
        top:-1.8px;
        padding-right: 5px;
        font-size: 27.2px;
        text-shadow: unset;
        font-family: "Causten Black","Open Sans", sans-serif;
        font-weight: 600;
        color: rgb(14,28,44);
        text-transform: uppercase;
      }
      img {
        height:48px;
      }
    }
    .tags {
      text-align: center;
      span {
        border-radius: 3px;
        padding: 2px 11px;
        margin: 1px 2px;
        background-color: rgb(67,199,231);
        font-weight: bold;
        color:white;
      }
    }

  }
}


ul.feature-boxes li.pepsi-box {
  > a span.small-pepsi {
    font-size: 8px;
  }
  .fly-box {
    width:712px;
  }
}
.pepsi {
  .pepsi-content {
    padding:15px;
    display:flex;
    flex-flow: column nowrap;
    gap: 10px;
    .pepsi-header {
      display:flex;
      flex-flow: column wrap;
      gap:5px;
      align-content: center;
      .pepsi-logo-container {
        display:flex;
        gap:15px;
        img.logo-pepsi {
          height: 48px;  //telluride
          height: 82px;  //abasin
        }
        img.logo-telluride {
          height: 48px;
        }
        img.logo-abasin {
          height:100px;
        }
        img.logo-whitetail {
          height:74px;
        }
        svg.lee-canyon {
          margin-top:10px;
        }
        img.logo-camelback {
          height: 80px;
        }
        img.logo-powder-mountain {
          height: 44px;
          margin-bottom: unset;
          margin-top: 20px;
        }
        img.logo-okemo {
          height: 88px;
          margin-bottom: unset;
        }
        img.logo-china-peak {
          height: 78px;
          margin-bottom: unset;
        }
        img.logo-snowbird {
          height: 77px;
          margin-bottom: unset;
        }
      }
      .pepsi-copy {
        text-align: center;
        font-size: 30px;
      }
    }
    .pepsi-video {
      padding:15px;
      
    }
    .pepsi-image {
      padding: 15px 0px;
      width: 640px;
      height: 360px;
      a.flex {
        display: flex;
      }
      .img-small {
        height: 320px;
      }
      .p-r-10 {
        padding-right:10px;
      }
    }
  }
  .pepsi-resort-link-container {
    display: flex;
    justify-content: space-between;
    audio {
      height: 33px;
    }
  }
  .pepsi-resort-link-container.noaudio {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 1620px) { 
  .latest-flybox {
    width:550px;
  }
  #offers .deals {
    width:245px;
  }
  #offers .deals:nth-child(3), #offers .deals:nth-child(6), #offers .deals:nth-child(9) {
    margin-right:10px;
  }
  #offers .deals:nth-child(n+7) {
    display:none;
  }
}
@media only screen and (max-width: 1027px) { 
  body {
    height:100%;
  }

}
@media only screen and (max-width: 767px) { 
  body { 
    height: 1600px;
  }
  div.radio-home-link {
    display: none;
  }
  ul.feature-boxes {
    display:none;
  }
  .section .slider-container {
    height: auto;
  }
  .carousel {
    ul#banner_carousel {
      #customText {
        width: 80%;
        max-width: unset;
        right: unset;
        left: 25px;
        position: unset;
        margin-inline: auto;  
      
        #top-snowfall {
          margin-top: 20px;
          #top-snowfall-list {
            padding-left: 15px !important;
            background: rgba(49, 135, 197, 0.75) none repeat scroll 0 0;
            .resort-name {
              padding-left: 15px !important;
            }
            .light-button {
              font-size: 12px;
              min-width: 125px;
            }
            .surface-terrain {
              font-size: 12px;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
  .mobile-stories {
    display:block;
    width: 100%;
    h2 {
      margin-top: 25px;
      text-align: center;
    }
    
    img.mountain-life-ad {
      margin-top:20px;
      border-radius: 10px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    }

    .mobile-stories-container {
      display: flex;
      flex-flow: column;
      gap:15px;
      .card {
        width: clamp(250px,100%,500px);
        height: 180px;
        margin-inline: auto;
        color: #fff;
        position: relative;
        overflow: hidden !important;
        border-radius: 10px;
        background-size: cover !important;
        box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 33%);
        
        .card-content {
          background: url(../images/small-shadow.png) repeat-x top;
          padding: 10px;
          position: absolute;
          bottom: 0;
          width: 100%;
          text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
          .card-copy {
            color: #fff;
            font-size: 19px;
            font-weight: 700;
          }
        }
      }
    }
    
    div.state-list {
      background: rgba(49, 135, 197, 0.72) none repeat scroll 0 0;
      padding: 9px;
      border-radius: 5px;
      h6 {
        color: white;
        letter-spacing: 2px;
      }
      a {
        margin: 10px 5px 0 0;
        padding: 5px;
        background: none;
        border: 1px #fff solid;
        color: #fff;
        font-size: 12px;
      }
      a:hover {
        background: #0079c1;
      }
    }
  }
}

@media only screen and (max-width: 767px) { 
  body { 
    height: 2500px;
  }
}
@media only screen and (max-width: 472px) { 
  body { 

    #banner_carousel li.slider-image {
      background-image: unset !important;
      background-color: #003952;
    }
  }
}

@media only screen and (max-width: 410px) { 
  body { 
    height: 2600px;
  }
}