.container-home {
  height: 100%;
  margin-top: 100px;
  padding: 125px 25px 25px;
  background-image: linear-gradient(90deg, #0097BE, #0071AC);
}

.grid-container.region {
  margin-bottom: 10px;
  background: unset;
  grid-template-columns: 2fr 1.3fr 1.3fr 1fr 1fr;
}
.grid-container.region div.grid-header {
  color: #373737;
}
.grid-container.region div.resort-name a.light-button {
  color: #0079c1;
}
.grid-container.region div.resort-name a.light-button:hover {
  color: white;
}
.grid-container.region div {
  color: #373737;
  border-bottom: 1px solid rgba(224, 224, 224, 0.45);
}
.grid-container.region div p.surface-terrain {
  margin: 0px;
}
.grid-container.region div:not(.resort-name) {
  text-align: center;
  font-size: 14.5px;
}

.grid-container.region.members {
  grid-template-columns: 2fr 1.3fr 1.3fr 1fr 1fr 1fr 1fr;
}

.m-t-10 {
  margin-top: 10px;
}

.mobile-stories {
  display: none;
}

body {
  height: 82%;
  min-height: 850px;
}

.xclose {
  position: absolute;
  right: 12px;
  top: 5px;
  width: 18px;
  height: 18px;
  opacity: 0.3;
}

.xclose:hover {
  opacity: 1;
  cursor: pointer;
}

.xclose:before, .xclose:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 18px;
  width: 2px;
  background-color: #333;
}

.xclose:before {
  transform: rotate(45deg);
}

.xclose:after {
  transform: rotate(-45deg);
}

ul.feature-boxes {
  height: 524px;
  height: 450px;
}
ul.feature-boxes .last-region-box {
  border-radius: 0 0px 3px 3px;
}

.latest-flybox {
  width: 812px;
}

.fly-box .region-statelist {
  margin-bottom: unset;
}

#top-snowfall {
  margin: 15px 0px 25px;
  text-shadow: 0 0 3px #000;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.85);
}

div.radio-home-link {
  cursor: pointer;
}
div.radio-home-link .radio-home {
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.83);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}
div.radio-home-link .radio-home .radio-home-copy {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: inherit;
  align-items: baseline;
  position: relative;
}
div.radio-home-link .radio-home .radio-home-copy .radio-home-header {
  position: relative;
  top: -1.8px;
  padding-right: 5px;
  font-size: 27.2px;
  text-shadow: unset;
  font-family: "Causten Black", "Open Sans", sans-serif;
  font-weight: 600;
  color: rgb(14, 28, 44);
  text-transform: uppercase;
}
div.radio-home-link .radio-home .radio-home-copy img {
  height: 48px;
}
div.radio-home-link .radio-home .tags {
  text-align: center;
}
div.radio-home-link .radio-home .tags span {
  border-radius: 3px;
  padding: 2px 11px;
  margin: 1px 2px;
  background-color: rgb(67, 199, 231);
  font-weight: bold;
  color: white;
}

ul.feature-boxes li.pepsi-box > a span.small-pepsi {
  font-size: 8px;
}
ul.feature-boxes li.pepsi-box .fly-box {
  width: 712px;
}

.pepsi .pepsi-content {
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.pepsi .pepsi-content .pepsi-header {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  align-content: center;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container {
  display: flex;
  gap: 15px;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container img.logo-pepsi {
  height: 48px;
  height: 82px;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container img.logo-telluride {
  height: 48px;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container img.logo-abasin {
  height: 100px;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container img.logo-whitetail {
  height: 74px;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container svg.lee-canyon {
  margin-top: 10px;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container img.logo-camelback {
  height: 80px;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container img.logo-powder-mountain {
  height: 44px;
  margin-bottom: unset;
  margin-top: 20px;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container img.logo-okemo {
  height: 88px;
  margin-bottom: unset;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container img.logo-china-peak {
  height: 78px;
  margin-bottom: unset;
}
.pepsi .pepsi-content .pepsi-header .pepsi-logo-container img.logo-snowbird {
  height: 77px;
  margin-bottom: unset;
}
.pepsi .pepsi-content .pepsi-header .pepsi-copy {
  text-align: center;
  font-size: 30px;
}
.pepsi .pepsi-content .pepsi-video {
  padding: 15px;
}
.pepsi .pepsi-content .pepsi-image {
  padding: 15px 0px;
  width: 640px;
  height: 360px;
}
.pepsi .pepsi-content .pepsi-image a.flex {
  display: flex;
}
.pepsi .pepsi-content .pepsi-image .img-small {
  height: 320px;
}
.pepsi .pepsi-content .pepsi-image .p-r-10 {
  padding-right: 10px;
}
.pepsi .pepsi-resort-link-container {
  display: flex;
  justify-content: space-between;
}
.pepsi .pepsi-resort-link-container audio {
  height: 33px;
}
.pepsi .pepsi-resort-link-container.noaudio {
  justify-content: flex-end;
}

@media only screen and (max-width: 1620px) {
  .latest-flybox {
    width: 550px;
  }
  #offers .deals {
    width: 245px;
  }
  #offers .deals:nth-child(3), #offers .deals:nth-child(6), #offers .deals:nth-child(9) {
    margin-right: 10px;
  }
  #offers .deals:nth-child(n+7) {
    display: none;
  }
}
@media only screen and (max-width: 1027px) {
  body {
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  body {
    height: 1600px;
  }
  div.radio-home-link {
    display: none;
  }
  ul.feature-boxes {
    display: none;
  }
  .section .slider-container {
    height: auto;
  }
  .carousel ul#banner_carousel #customText {
    width: 80%;
    max-width: unset;
    right: unset;
    left: 25px;
    position: unset;
    margin-inline: auto;
  }
  .carousel ul#banner_carousel #customText #top-snowfall {
    margin-top: 20px;
  }
  .carousel ul#banner_carousel #customText #top-snowfall #top-snowfall-list {
    padding-left: 15px !important;
    background: rgba(49, 135, 197, 0.75) none repeat scroll 0 0;
  }
  .carousel ul#banner_carousel #customText #top-snowfall #top-snowfall-list .resort-name {
    padding-left: 15px !important;
  }
  .carousel ul#banner_carousel #customText #top-snowfall #top-snowfall-list .light-button {
    font-size: 12px;
    min-width: 125px;
  }
  .carousel ul#banner_carousel #customText #top-snowfall #top-snowfall-list .surface-terrain {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .mobile-stories {
    display: block;
    width: 100%;
  }
  .mobile-stories h2 {
    margin-top: 25px;
    text-align: center;
  }
  .mobile-stories img.mountain-life-ad {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .mobile-stories .mobile-stories-container {
    display: flex;
    flex-flow: column;
    gap: 10px;
  }
  .mobile-stories .mobile-stories-container .card {
    width: 250px;
    height: 180px;
    margin-inline: auto;
    color: #fff;
    position: relative;
    overflow: hidden !important;
    background-size: cover !important;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.33);
  }
  .mobile-stories .mobile-stories-container .card .card-content {
    background: url(../images/small-shadow.png) repeat-x top;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .mobile-stories .mobile-stories-container .card .card-content .card-copy {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
  }
  .mobile-stories div.state-list {
    background: rgba(247, 254, 253, 0.3) none repeat scroll 0 0;
    padding: 9px;
    border-radius: 5px;
  }
  .mobile-stories div.state-list h6 {
    color: white;
    letter-spacing: 2px;
  }
  .mobile-stories div.state-list a {
    margin: 10px 5px 0 0;
    padding: 5px;
    background: none;
    border: 1px #fff solid;
    color: #fff;
    font-size: 12px;
  }
  .mobile-stories div.state-list a:hover {
    background: #0079c1;
  }
}
@media only screen and (max-width: 660px) {
  body {
    height: 2200px;
  }
}
@media only screen and (max-width: 472px) {
  body {
    height: 2350px;
  }
}
@media only screen and (max-width: 449px) {
  body {
    height: 2450px;
  }
}
@media only screen and (max-width: 410px) {
  body {
    height: 2600px;
  }
}

/*# sourceMappingURL=home-page.css.map */
