@mixin bpmaxw($mw) {
  @media screen and (max-width: $mw) {
    @content;
  }
}
$mobile : 767px;
body {
  background-image: linear-gradient(90deg, #0097BE, #0071AC);
}
#news-post {
  margin-top: unset;
  padding: 135px 25px 0px;
  display: grid;
  grid-template-columns: 1fr minmax(310px, 25%) ;
  gap: 10px;
  
  @include bpmaxw($mobile) {
    display:block;
  }
  .post-panel {
    width: 100%;
    border-radius: 5px;
    padding: 15px 25px;
    position: relative;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.08),0px 20px 31px 3px rgba(0,0,0,0.09),0px 8px 20px 7px rgba(0,0,0,0.02);
    display: flex;
    flex-direction: column;
    
    h1 {
      margin-bottom: 10px;
      border-bottom: 1px solid #314d5a;
      font-weight: 800;
      font-size: 33px;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      font-style: normal;
      color: #5c5e60;
      letter-spacing: 7.1px;
      
      .infoline {
        margin: 3px 0 0 2px;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        font-family: "Proxima Nova", sans-serif;
        font-style: italic;
        color: #5c5e60;
        font-weight: 100;
        text-transform: initial;
        letter-spacing: 1px;
        
        @include bpmaxw($mobile) {
          flex-flow: column nowrap;
        }
        .material-icons {
          vertical-align: text-bottom;
          margin-right:5px;
        }
        .published {
        
          a {
            color: #0187BC;
            font-size: 16px;
            margin-right: 25px;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        .read-time {
          margin-left: 10px;
          @include bpmaxw($mobile) {
            align-self: flex-end;
          }
        }
      }
    }
    img#post-main-image {
      margin-bottom: 25px;
    }
    .intro {
      margin: 3px 0 0 2px;
      font-size: 15px;
      font-family: "Proxima Nova", sans-serif;
      color: #5c5e60;
      font-weight: 400;
      text-transform: initial;
      letter-spacing: 1px;
      .image-container {
        float: left;
        margin-right: 10px;
        @include bpmaxw(1024px) {
          float: unset;
          margin-right: unset;
        }
        img#post-main-image {
          max-height: 400px;
          @include bpmaxw(1024px) {
            max-height: unset;
          }
        }
      }
      .ebd-block {
        width:100%;
        
        .eb-thumbs {
          width:100%;
          display:flex;
          
          .eb-thumbs-col {
            -webkit-flex-grow: 1;
            -ms-flex-grow: 1;
            flex-grow: 1;
            -webkit-flex-basis: 0;
            -ms-flex-basis: 0;
            flex-basis: 0;
            height: 100%;
            position: relative;
            vertical-align: top;
            
            .eb-thumb {
              margin: 0px 5px;
            }
          }
        }
      }
    }
  }
  
  .news-list {
    width: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.08),0px 20px 31px 3px rgba(0,0,0,0.09),0px 8px 20px 7px rgba(0,0,0,0.02);
    @include bpmaxw($mobile) {
      margin-top:25px;
    }

    .news-list-header {
      height: 42px;
      margin-bottom:25px;
      border-radius: 5px 5px 0px 0px;
      padding: 12px;
      background-color: rgb(14,28,44);
      color: white;
      font-size: 18px;
    }
    .news-list-post {
      margin: 10px 12px;
      border-bottom: 1px solid rgba(26,26,27,0.07);
      padding:10px;
      display:grid;
      place-items: center;
      a {
        text-align: center;
      }
      img {
        width:140px;
      }
      .post-title {
        margin: 10px 0px 10px 10px;
        font-weight:600;
        color: #5c5e60;
      }
      .post-info {
        width: 100%;
        font-weight:400;
        display:flex;
        justify-content: space-between;
        font-style: italic;
        color: #5c5e60;
      }
    }
  }
}