.conditions {
    margin:125px 25px 0px;
    // box-shadow: 0 0 0 1px rgb(20 20 31 / 5%), 0 1px 1px 0 rgb(20 20 31 / 15%);
}
div.conditions {
    margin-top: unset;
    padding-top:135px;
}
#container-snow-reports.filter-open .resort.pto{
    display:none;
}
#container-snow-reports.filter-open #filter-open{
    border: 1px solid white;
    background-color: #004b8b;
    color: #fff;
}
#container-snow-reports.filter-pto .resort.open{
    display:none;
}
#container-snow-reports.filter-pto #filter-pto{
    border: 1px solid white;
    background-color: #004b8b;
    color: #fff;
}
#container-snow-reports.sort-open .resort.open{
    order:1;
}
#container-snow-reports.sort-open .resort.pto{
    order:2;
}
#container-snow-reports.sort-open #sort-open{
    border: 1px solid white;
    background-color: #004b8b;
    color: #fff;
}

#container-snow-reports.sort-default #sort-default{
    border: 1px solid white;
    background-color: #004b8b;
    color: #fff;
}


@keyframes faderesorts {
  to {
    opacity:0;
    height: 0;
    min-height: unset;
    margin:unset;
  }
}
@keyframes hideresorts {
    0%   { opacity: 1; }
    50%  { opacity: 0.5; }
    100% { opacity: 0; display:none;}
}
@keyframes showresorts {
  from {
    opacity:0;
    height: 0;
  }
  to {
    opacity:1;
  }
}
@mixin resort-fade-out {
  animation-name:faderesorts;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}
@mixin resort-fade-in {
  animation-name:showresorts;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

#container-snow-reports {
  div.resorts.summer {
    @include resort-fade-in();
  }
}
#container-snow-reports.all {
  div.resort.summer {
    @include resort-fade-in();
  }
}

#container-snow-reports.hiking {
  div.resort.summer:not(.hiking) {
    @include resort-fade-out();
  }
  div.resort.summer.hiking {
    @include resort-fade-in();
  }
}

#container-snow-reports.mtn-bike {
  div.resort.summer:not(.mtn-bike) {
    @include resort-fade-out();
  }
  div.resort.summer.mtn-bike {
    @include resort-fade-in();
  }
}
#container-snow-reports.golf {
  div.resort.summer:not(.golf) {
    @include resort-fade-out();
  }
  div.resort.summer.golf {
    @include resort-fade-in();
  }
}
#container-snow-reports.lift {
  div.resort.summer:not(.lift) {
    @include resort-fade-out();
  }
  div.resort.summer.lift {
    @include resort-fade-in();
  }
}

#container-snow-reports.filter-open {
  div.resort:not(.open) {
    @include resort-fade-out();
  }
  div.resort.open {
    @include resort-fade-in();
  }
}

#container-snow-reports.filter-pto {
  div.resort:not(.pto) {
    @include resort-fade-out();
  }
  div.resort.pto {
    @include resort-fade-in();
  }
}
#container-snow-reports.filter-all {
  div.resort {
    @include resort-fade-in();
  }
}

#container-snow-reports.filter-open-top {
  div.resort.open {
    order:3;
    @include resort-fade-in();
  }
  div.resort.pto {
    order:4;
    @include resort-fade-in();
  }
  div.resort.clsed {
    order:5;
    @include resort-fade-in();
  }
}