
#servertime, #version-page {
    color: #fff;
}
#version-page {
    text-align: center;
}
.conditions {
    margin:125px 25px 0px;
    box-shadow: 0 0 0 1px rgb(20 20 31 / 5%), 0 1px 1px 0 rgb(20 20 31 / 15%);
}
div.conditions {
    margin-top: unset;
    padding-top:135px;
}
