:root {
  --check-borderWidth: 4px;
  --check-height: 18px;
  --check-width: 9px;
  --check-borderColor: #2AB573;
}

body {
  background-image: linear-gradient(90deg, #0097BE, #0071AC);
}

.resorts-container {
  margin: 20px;
  display: flex;
  flex-flow: column wrap;
  border-radius: 10px;
  font-family: "Mulish", sans-serif;
}
.resorts-container .resorts-container__header {
  font-family: "Mulish", sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.resorts-container .filter-container {
  max-width: 1200px;
  margin-bottom: 50px;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
@media screen and (max-width: 664px) {
  .resorts-container .filter-container {
    gap: 10px;
  }
}
@media screen and (max-width: 584px) {
  .resorts-container .filter-container {
    margin-bottom: 25px;
    flex-flow: row wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 490px) {
  .resorts-container .filter-container {
    gap: 10px;
  }
}
.resorts-container .filter-container button {
  border-radius: 14px;
  color: #004B8B;
}
@media screen and (max-width: 585px) {
  .resorts-container .filter-container button {
    flex: 0 1 88px;
    font-size: 10px;
  }
}
.resorts-container .filter-container button.active {
  border: 1px solid white;
  background-color: #004B8B;
  color: white;
}
.resorts-container .filter-container button:hover {
  background-color: #004B8B;
  color: white;
}
.resorts-container .resort.summer {
  max-width: 1214px;
  margin: 20px auto;
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort.summer {
    min-height: 150px;
    height: 262px;
  }
}
@media screen and (max-width: 750px) {
  .resorts-container .resort.summer {
    height: 262px;
  }
}
@media screen and (max-width: 427px) {
  .resorts-container .resort.summer {
    height: 210px;
  }
}
@media screen and (max-width: 390px) {
  .resorts-container .resort.summer {
    height: 225px;
  }
}
.resorts-container .resort {
  max-width: 1214px;
  width: 95%;
  height: 200px;
  height: 150px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  font-family: "Mulish", sans-serif;
}
@media screen and (max-width: 428px) {
  .resorts-container .resort {
    width: 100%;
  }
}
.resorts-container .resort a, .resorts-container .resort a.resort__link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort a, .resorts-container .resort a.resort__link {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
}
.resorts-container .resort a:hover, .resorts-container .resort a.resort__link:hover {
  color: #0AC2FF;
}
.resorts-container .resort__header:hover h2 {
  color: #0AC2FF;
}
.resorts-container .resort__header {
  max-width: 307px;
  width: 307px;
  min-width: 307px;
  height: 100%;
  padding: 5px 30px 5px;
  background-color: #2A265F;
  background-color: #004B8B;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  font-family: "Mulish", sans-serif;
}
@media screen and (max-width: 1235px) {
  .resorts-container .resort__header {
    max-width: 255px;
    width: 100%;
    min-width: unset;
    padding: 5px 10px;
  }
}
.resorts-container .resort__header h2 {
  margin: 10px 0 0;
  font-family: "Mulish", sans-serif;
  display: block;
  font-size: 24px;
  line-height: unset;
  color: #FFF;
  font-weight: 400;
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort__header h2 {
    margin-left: 11px;
  }
}
@media screen and (max-width: 550px) {
  .resorts-container .resort__header h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .resorts-container .resort__header h2 {
    font-size: 18px;
  }
}
.resorts-container .resort__header-weather {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort__header-weather {
    height: 100%;
    margin-top: 10px;
    align-items: unset;
  }
}
@media screen and (max-width: 465px) {
  .resorts-container .resort__header-weather {
    flex-flow: column wrap;
    align-items: center;
  }
}
.resorts-container .resort__header-weather-condition {
  display: flex;
  flex-flow: column;
}
@media screen and (max-width: 465px) {
  .resorts-container .resort__header-weather-condition {
    align-items: flex-start;
  }
}
.resorts-container .resort__header-weather-condition img {
  width: 66px;
  margin-bottom: 0px;
}
@media screen and (max-width: 465px) {
  .resorts-container .resort__header-weather-condition img {
    width: 38px;
  }
}
.resorts-container .resort__header-weather-condition .weather-copy {
  text-align: center;
}
@media screen and (max-width: 465px) {
  .resorts-container .resort__header-weather-condition .weather-copy {
    font-size: 10px;
  }
}
.resorts-container .resort__header-weather-detail {
  position: relative;
  margin-top: 15px;
}
@media screen and (max-width: 550px) {
  .resorts-container .resort__header-weather-detail {
    margin-top: unset;
  }
}
.resorts-container .resort__header-weather-detail-temp {
  position: relative;
  top: -10px;
  left: -10px;
  font-size: 40px;
}
.resorts-container .resort__header-weather-detail-temp sup {
  font-size: 22px;
}
@media screen and (max-width: 550px) {
  .resorts-container .resort__header-weather-detail-temp {
    top: unset;
    left: unset;
  }
}
.resorts-container .resort__header a.link, .resorts-container .resort__header span.link {
  align-self: flex-end;
  cursor: pointer;
  color: #fff;
  opacity: 0.6;
  font-size: 12px;
}
.resorts-container .resort__header a.link:hover {
  color: #0AC2FF;
}
.resorts-container .resort__header.long-name h2 {
  margin-top: 5px;
  font-size: 20px;
}
@media screen and (max-width: 427px) {
  .resorts-container .resort__header.long-name h2 {
    margin-top: 0px;
    font-size: 18px;
  }
}
.resorts-container .resort__info.summer {
  justify-content: flex-start;
  flex-flow: row nowrap;
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort__info.summer {
    flex-flow: column nowrap;
  }
}
.resorts-container .resort__info {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.resorts-container .resort__info .section-container {
  margin: 5px;
  padding: 5px 0px 5px;
}
.resorts-container .resort__info .section-container .section-header {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}
@media screen and (max-width: 787px) {
  .resorts-container .resort__info .section-container .section-header {
    font-size: 12px;
  }
}
.resorts-container .resort__info .section-container .section-item {
  margin: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
  text-align: center;
}
.resorts-container .resort__info .section-container .section-item .primary {
  padding-top: 6px;
  opacity: 1 !important;
  font-size: 28px;
  font-weight: unset;
  color: #39f;
  color: #004B8B;
}
@media screen and (max-width: 1075px) {
  .resorts-container .resort__info .section-container .section-item .primary {
    font-size: 20px;
    text-align: center;
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .resorts-container .resort__info .section-container .section-item .primary {
    font-size: 18px;
  }
}
.resorts-container .resort__info .section-container .section-item .base-depth {
  font-size: 34px;
  color: #F5803E;
  color: #F07B62;
}
@media screen and (max-width: 1075px) {
  .resorts-container .resort__info .section-container .section-item .base-depth {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .resorts-container .resort__info .section-container .section-item .base-depth {
    font-size: 18px;
  }
}
.resorts-container .resort__info .section-container .section-item .base-copy {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .resorts-container .resort__info .section-container .section-item .base-copy {
    font-size: 12px;
  }
}
.resorts-container .resort__info .section-container .section-item .snowfall, .resorts-container .resort__info .section-container .section-item .snowfall-pred {
  text-align: center;
  margin-left: 20px;
  font-size: 1rem;
  /* font-size:clamp(0.85rem, -0.875rem + 1.833vw, 1.5rem); */
}
.resorts-container .resort__info .section-container .section-item .snowfall {
  margin-bottom: 10px;
}
.resorts-container .resort__info .section-container .section-item .snowfall .snowfall__amount {
  font-size: 44px;
}
@media screen and (max-width: 855px) {
  .resorts-container .resort__info .section-container .section-item .snowfall .snowfall__amount {
    font-size: 32px;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort__info .section-container .section-item .snowfall .snowfall__amount {
    font-size: 16px;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort__info .section-container .section-item .snowfall .snowfall__timeframe {
    font-size: 12px;
    align-self: center;
  }
}
.resorts-container .resort__info .section-container .section-item .snowfall .snowfall_timeframe {
  font-size: 18px;
}
.resorts-container .resort__info .section-container .section-item .snowfall-pred {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 1rem;
}
.resorts-container .resort__info .section-container .section-item .snowfall-pred__item {
  padding-left: 3px;
}
@media screen and (max-width: 767px) {
  .resorts-container .resort__info .section-container .section-item .snowfall-pred {
    font-size: 10px;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort__info .section-container .section-item .snowfall-pred {
    display: none;
  }
}
.resorts-container .resort__info .section-container .section-item.section-conditions {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .resorts-container .resort__info .section-container .section-item.section-conditions {
    margin: 0px;
  }
}
.resorts-container .resort__info-snow-condition, .resorts-container .resort__info-snowfall, .resorts-container .resort__info-terrain {
  flex: 1 1 30%;
}
.resorts-container .resort__info-projected-open-date.section-container {
  flex: 0 1 30%;
}
.resorts-container .resort__info-projected-open-date.section-container .section-open-date {
  height: 63%;
  padding-top: 6px;
  display: grid;
  place-items: center;
  opacity: 1 !important;
  font-size: 2.7rem;
  font-weight: unset;
  color: #004B8B;
}
@media screen and (max-width: 966px) {
  .resorts-container .resort__info-projected-open-date.section-container .section-open-date {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 816px) {
  .resorts-container .resort__info-projected-open-date.section-container .section-open-date {
    font-size: 2rem;
  }
}
.resorts-container .resort__info-covid.section-container {
  flex: 1 1 65%;
}
.resorts-container .resort__info-covid.section-container .section-item.grid-covid {
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  place-items: center;
}
.resorts-container .resort__info-covid.section-container .section-item.grid-covid .grid-covid__col-header {
  font-weight: 600;
  text-align: center;
  padding-right: 10px;
}
.resorts-container .resort__info-covid.section-container .section-item.grid-covid .grid-covid__col-data .img-covid {
  width: 64px;
  display: unset;
}
.resorts-container .resort__info-terrain {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 710px) {
  .resorts-container .resort__info-terrain .section-header {
    display: none;
  }
}
.resorts-container .resort__info-terrain .terrain-item {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.resorts-container .resort__info-terrain .terrain-item__copy {
  margin-bottom: 0.25rem;
  text-transform: uppercase !important;
  opacity: 0.6;
}
.resorts-container .resort__info-terrain .terrain-item__copy small {
  display: flex;
  justify-content: space-between;
}
.resorts-container .resort__info-terrain .terrain-item .progress {
  height: 4px;
  line-height: 0;
  overflow: hidden;
  font-size: 0.65625rem;
  background-color: #ebedef;
  border-radius: 0.25rem;
  display: flex;
}
.resorts-container .resort__info-terrain .terrain-item .progress-bar {
  background-color: #39f;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1235px) {
  .resorts-container .resort__info-summer {
    flex: 0 0 290px;
  }
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort__info-summer {
    max-height: 110px;
  }
}
@media screen and (max-width: 393px) {
  .resorts-container .resort__info-summer .section-header {
    font-size: 11px;
  }
}
.resorts-container .resort__info-summer .section-summer {
  margin: 12px;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: center;
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort__info-summer .section-summer {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 750px) {
  .resorts-container .resort__info-summer .section-summer {
    flex-flow: row wrap;
  }
}
.resorts-container .resort__info-summer .section-summer-item {
  flex: 0 1 80px;
  display: flex;
  flex-flow: column nowrap;
  align-content: space-between;
}
@media screen and (max-width: 1295px) {
  .resorts-container .resort__info-summer .section-summer-item {
    flex: 0 0 55px;
  }
}
@media screen and (max-width: 750px) {
  .resorts-container .resort__info-summer .section-summer-item {
    flex: 0 1 100px;
  }
}
@media screen and (max-width: 625px) {
  .resorts-container .resort__info-summer .section-summer-item {
    flex: 0 0 80px;
  }
}
@media screen and (max-width: 552px) {
  .resorts-container .resort__info-summer .section-summer-item {
    flex: 0 0 50px;
  }
}
@media screen and (max-width: 427px) {
  .resorts-container .resort__info-summer .section-summer-item {
    flex: 0 0 40px;
  }
}
@media screen and (max-width: 390px) {
  .resorts-container .resort__info-summer .section-summer-item {
    flex: 0 0 35px;
  }
}
@media screen and (max-width: 363px) {
  .resorts-container .resort__info-summer .section-summer-item {
    flex: 0 0 30px;
  }
}
.resorts-container .resort__info-summer .section-summer-item .open {
  margin: 0 auto;
  display: inline-block;
  transform: rotate(45deg);
  height: var(--check-height);
  width: var(--check-width);
  border-bottom: var(--check-borderWidth) solid var(--check-borderColor);
  border-right: var(--check-borderWidth) solid var(--check-borderColor);
}
.resorts-container .resort__info-summer .section-summer-item .close {
  position: relative;
  margin: 0 auto;
}
.resorts-container .resort__info-summer .section-summer-item .close:before, .resorts-container .resort__info-summer .section-summer-item .close:after {
  position: absolute;
  content: " ";
  height: 16px;
  width: 3px;
  background-color: #000;
}
.resorts-container .resort__info-summer .section-summer-item .close:before {
  transform: rotate(45deg);
}
.resorts-container .resort__info-summer .section-summer-item .close:after {
  transform: rotate(-45deg);
}
.resorts-container .resort__info-summer .section-summer-item img {
  width: 60px;
  margin-bottom: 10px;
}
@media screen and (max-width: 750px) {
  .resorts-container .resort__info-summer .section-summer-item img {
    margin-left: auto;
    margin-right: auto;
  }
}
.resorts-container .resort__info-summer .section-summer-item img.golf.close {
  margin-left: 6px;
}
.resorts-container .resort__info-extended-weather {
  max-width: 530px;
  border-left: 1px solid #ccc;
  padding-left: 10px !important;
  flex: 0 1 64%;
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort__info-extended-weather {
    width: 100%;
    min-width: 100%;
    margin-top: 10px !important;
    margin-left: unset !important;
    border-top: 1px solid #ccc;
    border-left: unset;
    padding-top: 9px;
  }
}
@media screen and (max-width: 750px) {
  .resorts-container .resort__info-extended-weather {
    display: none;
  }
}
.resorts-container .resort__info-extended-weather .section-header {
  margin-bottom: 10px;
}
.resorts-container .resort__info-extended-weather .section-summer-weather {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: space-between;
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort__info-extended-weather .section-summer-weather {
    justify-content: space-evenly;
  }
}
.resorts-container .resort__info-extended-weather .section-summer-weather-item {
  flex: 0 1 80px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1435px) {
  .resorts-container .resort__info-extended-weather .section-summer-weather-item {
    flex: 0 0 90px;
  }
}
@media screen and (max-width: 1325px) {
  .resorts-container .resort__info-extended-weather .section-summer-weather-item {
    flex: 0 0 100px;
  }
}
.resorts-container .resort__info-extended-weather .section-summer-weather-item img.weather-icon {
  width: 44px;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1435px) {
  .resorts-container .resort__info-extended-weather .section-summer-weather-item:last-child {
    display: none;
  }
}
@media screen and (max-width: 1278px) {
  .resorts-container .resort__info-extended-weather .section-summer-weather-item:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort__info-extended-weather .section-summer-weather-item:last-child {
    display: flex;
  }
  .resorts-container .resort__info-extended-weather .section-summer-weather-item:nth-last-child(2) {
    display: flex;
  }
}
@media screen and (max-width: 1125px) {
  .resorts-container .resort__info-extended-weather .section-summer-weather-item:last-child {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .resorts-container .resort__info-extended-weather .section-summer-weather-item:nth-last-child(2) {
    display: none;
  }
}
.resorts-container .resort.featuredResort {
  max-width: 90%;
  max-width: clamp(1300px, 95vw, 1500px);
  margin-bottom: 50px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border: 1.5px solid #ffd700;
  position: relative;
  overflow: unset;
}
.resorts-container .resort.featuredResort .new-featuredResort-wrapping-container {
  display: flex;
  overflow: hidden;
  width: 95%;
}
.resorts-container .resort.featuredResort .new-featuredResort-wrapping-container .resort__header {
  background-color: #3E0085;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.resorts-container .resort.featuredResort .drawer {
  padding: 20px 20px 0px;
  border-radius: 5px;
  background-color: #fff;
  width: 90%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  left: 5%;
  bottom: -53px;
  height: 56px;
  color: #6b7280;
  display: flex;
  align-items: baseline;
}
.resorts-container .resort.featuredResort .circle {
  width: 0.675rem;
  height: 0.675rem;
  background-color: rgb(243, 244, 246);
  display: inline-block;
  border-radius: 9999px;
  border-color: rgb(229, 231, 235);
  border: 1px solid;
  margin-right: 10px;
}
.resorts-container .resort.xc .resort__info .section-container .section-item .xc-basedepth {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.resorts-container .resort.xc .resort__info .section-container .section-item .xc-basedepth .base-depth {
  font-size: 28px;
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.open {
    height: 211px;
  }
  .resorts-container .resort.open .resort__header-weather {
    margin-top: 26px;
  }
}
@media screen and (max-width: 710px) and (max-width: 465px) {
  .resorts-container .resort.open .resort__header-weather {
    margin-top: 10px;
  }
}
@media screen and (max-width: 710px) and (max-width: 465px) {
  .resorts-container .resort.open .resort__header-weather .resort__header-weather-detail-temp {
    font-size: 28px;
  }
  .resorts-container .resort.open .resort__header-weather .resort__header-weather-detail-temp sup {
    top: -12px;
    font-size: 16px;
  }
}
@media screen and (max-width: 710px) and (max-width: 465px) {
  .resorts-container .resort.open .resort__header-weather .resort__header-weather-detail-date {
    font-size: 11px;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.open .resort__info {
    flex-flow: row wrap;
  }
}
@media screen and (max-width: 710px) and (max-width: 631px) {
  .resorts-container .resort.open .resort__info .section-container .section-header {
    font-size: 9px;
  }
}
@media screen and (max-width: 710px) and (max-width: 509px) {
  .resorts-container .resort.open .resort__info .section-container .section-header {
    display: none;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.open .resort__info .section-container .section-item {
    justify-content: center;
  }
  .resorts-container .resort.open .resort__info .section-container .section-item .snowfall {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: unset;
  }
  .resorts-container .resort.open .resort__info .section-container .section-item .snowfall__amount {
    font-size: 16px;
  }
}
@media screen and (max-width: 710px) and (max-width: 428px) {
  .resorts-container .resort.open .resort__info .section-container .section-item .snowfall__amount {
    font-size: 22px;
  }
}
@media screen and (max-width: 710px) and (max-width: 428px) {
  .resorts-container .resort.open .resort__info .section-container .section-item .snowfall__timeframe {
    font-size: 10px;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.open .resort__info .resort__info-snow-condition.section-container {
    flex: 0 1 45%;
  }
  .resorts-container .resort.open .resort__info .resort__info-snow-condition.section-container .section-item.section-conditions .primary, .resorts-container .resort.open .resort__info .resort__info-snow-condition.section-container .section-item.section-conditions .base-depth {
    font-size: 14px;
  }
}
@media screen and (max-width: 710px) and (max-width: 480px) {
  .resorts-container .resort.open .resort__info .resort__info-snow-condition.section-container .section-item.section-conditions .primary, .resorts-container .resort.open .resort__info .resort__info-snow-condition.section-container .section-item.section-conditions .base-depth {
    font-size: 12px;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.open .resort__info .resort__info-snow-condition.section-container .section-item.section-conditions .base-copy {
    font-size: 10px;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.open .resort__info .resort__info-snowfall.section-container {
    flex: 1 1 77px;
  }
}
@media screen and (max-width: 710px) and (max-width: 480px) {
  .resorts-container .resort.open .resort__info .resort__info-snowfall.section-container {
    flex: 1 1 40%;
  }
}
@media screen and (max-width: 710px) and (max-width: 428px) {
  .resorts-container .resort.open .resort__info .resort__info-snowfall.section-container {
    flex: 1 1 32%;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.open .resort__info .resort__info-terrain.section-container {
    flex: 1 1 268px;
    margin-top: -7px;
    border-top: 1px solid #ccc;
    max-width: 94%;
  }
}
@media screen and (max-width: 465px) {
  .resorts-container .resort.pto .resort__header-weather {
    margin-top: 10px;
    flex-flow: row wrap;
  }
}
@media screen and (max-width: 414px) {
  .resorts-container .resort.pto .resort__header-weather-condition img {
    width: 30px;
  }
}
@media screen and (max-width: 414px) {
  .resorts-container .resort.pto .resort__header-weather-condition .copy {
    font-size: 8px;
  }
}
@media screen and (max-width: 465px) {
  .resorts-container .resort.pto .resort__header-weather .resort__header-weather-detail-temp {
    font-size: 28px;
  }
  .resorts-container .resort.pto .resort__header-weather .resort__header-weather-detail-temp sup {
    top: -12px;
    font-size: 16px;
  }
}
@media screen and (max-width: 414px) {
  .resorts-container .resort.pto .resort__header-weather .resort__header-weather-detail-temp {
    font-size: 20px;
  }
  .resorts-container .resort.pto .resort__header-weather .resort__header-weather-detail-temp sup {
    font-size: 12x;
  }
}
@media screen and (max-width: 465px) {
  .resorts-container .resort.pto .resort__header-weather .resort__header-weather-detail-date {
    font-size: 11px;
  }
}
@media screen and (max-width: 414px) {
  .resorts-container .resort.pto .resort__header-weather .resort__header-weather-detail-date {
    margin-top: 5px;
    font-size: 10px;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.pto .resort__info {
    flex-flow: column nowrap;
  }
}
.resorts-container .resort.pto .resort__info-projected-open-date.section-container {
  flex: 0 1 30%;
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.pto .resort__info-projected-open-date.section-container {
    margin-bottom: unset;
  }
}
@media screen and (max-width: 455px) {
  .resorts-container .resort.pto .resort__info-projected-open-date.section-container .section-header {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .resorts-container .resort.pto .resort__info-projected-open-date.section-container .section-header {
    font-size: 8px;
  }
}
.resorts-container .resort.pto .resort__info-projected-open-date.section-container .section-open-date {
  height: 63%;
  padding-top: 6px;
  display: grid;
  place-items: center;
  opacity: 1 !important;
  font-size: 2.7rem;
  font-weight: unset;
  color: #004B8B;
}
@media screen and (max-width: 966px) {
  .resorts-container .resort.pto .resort__info-projected-open-date.section-container .section-open-date {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 816px) {
  .resorts-container .resort.pto .resort__info-projected-open-date.section-container .section-open-date {
    font-size: 2rem;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.pto .resort__info-projected-open-date.section-container .section-open-date {
    margin: 0px 0px;
    font-size: 1.2rem;
  }
}
.resorts-container .resort.pto .resort__info-extended-weather-pto {
  max-width: 530px;
  border-left: 1px solid #ccc;
  padding-left: 10px !important;
  flex: 0 1 64%;
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto {
    margin-top: 0px;
    border-top: 1px solid #ccc;
    border-left: unset;
  }
}
@media screen and (max-width: 505px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto {
    margin: 5px 5px;
    padding-left: unset !important;
  }
}
.resorts-container .resort.pto .resort__info-extended-weather-pto .section-header {
  margin-bottom: 10px;
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-header {
    margin-bottom: 3px;
  }
}
@media screen and (max-width: 455px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-header {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-header {
    font-size: 8px;
  }
}
.resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: space-between;
}
@media screen and (max-width: 1175px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather {
    justify-content: space-evenly;
  }
}
.resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item {
  flex: 0 1 90px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1435px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item {
    flex: 0 0 90px;
  }
}
@media screen and (max-width: 1325px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item {
    flex: 0 0 100px;
  }
}
@media screen and (max-width: 505px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item {
    flex: 0 0 75px;
  }
}
@media screen and (max-width: 428px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item .weather-date {
    font-size: 10px;
  }
}
.resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item img.weather-icon {
  width: 44px;
  margin-top: 10px;
  margin-bottom: 5px;
}
@media screen and (max-width: 710px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item img.weather-icon {
    width: 22px;
    margin: 5px 0px 3px;
  }
}
@media screen and (max-width: 428px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item .weather-date {
    font-size: 9px;
  }
}
@media screen and (max-width: 400px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item .weather-date {
    font-size: 8px;
  }
}
@media screen and (max-width: 1196px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item:first-child {
    display: none;
  }
}
@media screen and (max-width: 1015px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item:last-child {
    display: none;
  }
}
@media screen and (max-width: 842px) {
  .resorts-container .resort.pto .resort__info-extended-weather-pto .section-summer-weather-item:nth-last-child(2) {
    display: none;
  }
}
.resorts-container .resort:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  margin-top: 18px;
  margin-bottom: 22px;
  background-color: #F9F9F9;
}
.resorts-container .resort.featuredResort:hover {
  margin-top: 18px;
  margin-bottom: 48px;
}

.bg-open {
  background-color: #3ac47d !important;
  background-color: #005E60 !important;
  background-color: #78B1AD !important;
}

.bg-trails {
  background-color: #39f !important;
  background-color: #507BC1 !important;
  background-color: #004B8B !important;
}

.bg-lifts {
  background-color: #d92550 !important;
  background-color: #842942 !important;
}

.bg-groomed {
  background-color: #f5803e !important;
  background-color: #414756 !important;
}

/*# sourceMappingURL=state-page-card.css.map */
