---
layout: generic-page.njk
title: About SnoCountry
---
<<style>
  #news-post {
    padding-bottom: 25px;
  }
  .simple-header {
    margin-bottom:10px;
    font-weight: 600;
  }
  p {
    margin-bottom:10px;
  }
</style>
<div id="generic-container" class="post">
  <div class="generic-panel">
    <h1 id="title" class="title">About SnoCountry</h1>

    <div class="simple-header">You are connected to the most powerful source of national and worldwide snow conditions and ski resort information!</div>
    <p class="copy">Our <strong>Mission</strong> is simple:  SnoCountry is a source of current, credible and unbiased ski and mountain resort information to promote the experience.</p>
    <p class="copy">SnoCountry also offers regional and national ski industry radio and television campaigns geared to activating first-time skiers and riders, motivating casual visitors and updating hardcore skiers and riders with the latest information to better enjoy the on-snow experience.</p>
    <p class="copy">For more than 55 years, SnoCountry has worked with every ski resort in North America and thousands of media outlets to continuously serve up snow condition information skiers and riders are hungry for:  where the snow is falling, how fast it's adding up and what it feels like. You see, it really is all about the snow!</p>
    <p class="copy">SnoCountry Ski Areas is governed by a board of directors, representing ski resorts nationwide.</p>
    
    <div class="simple-header">Directors:</div>
    <ul>
      <li>Phil Camp (Honorary, VT)</li>
      <li>Greg Fisher (Granite Peak, WI)</li>
      <li>Carolyn Stimpson (Wachusett Mountain, MA)</li>

      <li>Dan Fuller (Bristol Mountain Resort, NY)</li>
      <li>Scott Clarkson (At Large)</li>
      <li>Kenny Hess (Massanutten, VA.)</li>
      <li>John McColly (Mountain High, CA.)</li>
      <li>Chris MacInnes (Crystal Mountain, MI)</li>
      <li>Jordan Spear (Killington, VT)</li>
      <li>Dave Kulis (Catamount, NY)</li>
      <li>Tim Smith (Waterville Valley, N.H.)</li>
      <li>Michael Van Eyck (Fairbanks Group)</li>
    </ul>
  </div>
</div>