---
layout: generic-page.njk
title: SnoCountry Ad Upload
---
<<style>
  #news-post {
    padding-bottom: 25px;
  }
  .contact-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-container .item {
    margin: 5px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex: 0 1 250px;
  }
  .simple-header {
    margin-bottom:10px;
    font-weight: 600;
  }
  p {
    margin-bottom:10px;
  }
  ul.clean {
    margin: unset;
    padding:0;
  }
  ul.clean li {
    margin-bottom: unset;
  }
</style>
<div id="news-post" class="post">
  <div class="post-panel">
    <h1 id="title" class="title">SnoCountry Member Resort Ad Upload</h1>
    <div>
      <center>
        <script type="text/javascript" src="https://form.jotform.com/jsform/50717157914155"></script>
      </center>
    </div>
  </div>
</div>


