---
layout: news-home.njk
permalink: /news-home/index.html
---

<div id="news-home" class="news-home">
    <div id="news-ad" class="news-ad"></div>

  <div class="news-container">
    <h1 class="news-list-header">
      Ski Industry News
    </h1>
    <div class="news-list">
    </div>
    <div id="loading" class="loading show">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="news-list-footer">
      <a id="next-page" class="next-page" href="news-home/?page=2" >More News</a>
    </div>
  </div>
</div>