---
layout: news-post.njk
---

<div id="news-post" class="post">
  <div class="post-panel">
    <h1 id="title" class="title"></h1>
    <div class="intro"></div>
  </div>
  <div class="right-side">
    <div id="news-ad" class="news-ad">
    </div>
    <div class="news-list">
      <div class="news-list-header">
        Browse News.
      </div>
  
    </div>
  </div>

</div>