---
layout: generic-page.njk
---
<<style>
  #news-post {
    padding-bottom: 25px;
  }
  .contact-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-container .item {
    margin: 5px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex: 0 1 250px;
  }
  .simple-header {
    margin-bottom:10px;
    font-weight: 600;
  }
  p {
    margin-bottom:10px;
  }
  ul.clean {
    margin: unset;
    padding:0;
  }
  ul.clean li {
    margin-bottom: unset;
  }
</style>
<div id="generic-container" class="post">
  <div class="generic-panel">
    <h1 id="title" class="title">Contact SnoCountry</h1>

    <div class="contact-container">
      <div class="item">
        <div class="simple-header">Our Mailing Address (FedEx/UPS/USPS):</div>
        <ul class="clean">
          <li>SnoCountry Inc.</li>
          <li>10 Water Street, Suite 250</li>
          <li>Lebanon, NH 03766 USA</li>
          <li>Phone: <a href="tel:603-443-8800">603-443-8800</a></li>
        </ul>
      </div>
      
      <div class="item">
        <div class="simple-header">President & General Inquiries</div>
        <ul class="clean">
          <li>Mike Colbourn</li>
          <li><a href="tel:802.495.9100">802.495.9100</a></li>
        </ul>
      </div>

      <div class="item">
        <div class="simple-header">SnoCountry Data Department</div>
        <ul class="clean">
          <li>Data Staff</li>
          <li><a href="tel:603-443-8811">603.443.8811</a></li>
        </ul>
      </div>
      
      <div class="item">
        <div class="simple-header">GM Radio/TV Broadcast Operations</div>
        <ul class="clean">
          <li>Chuck Devine</li>
          <li><a href="tel:603-443-8810">603.443.8810</a></li>
        </ul>
      </div>
      
            
      <div class="item">
        <div class="simple-header">Eastern Ski Area Sales</div>
        <ul class="clean">
          <li>Rob Chandler</li>
          <li><a href="tel:603-443-8819">603.443.8819</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="simple-header">Western Ski Area Sales</div>
        <ul class="clean">
          <li>Scott Clarkson</li>
          <li><a href="tel:603-443-0369">530.448.0369</a></li>
        </ul>
      </div>

      <div class="item">
        <div class="simple-header">Radio Program Director</div>
        <ul class="clean">
          <li>Andrew Davis</li>
          <li><a href="tel:603-443-8823">603.443.8823</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="simple-header">Office Manager</div>
        <ul class="clean">
          <li>Sean Malaguti</li>
          <li><a href="tel:603-443-8801">603.443.8801</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="simple-header">Web Developer</div>
        <ul class="clean">
          <li>Bill Waddell</li>
          <li><a href="tel:603-443-8822">603.443.8822</a></li>
        </ul>
      </div>
      <div class="item">
        <div class="simple-header">Director of Technical Development</div>
        <ul class="clean">
          <li>Michael Martinez</li>
          <li><a href="tel:603-443-8802">603.443.8802</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>