---
layout: evergreen-page.njk
---
<div class="container-evergreen-main">
  <div class="container-banner">
    <div class="banner-evergreen">
      <h1>Evergreen</h1>
    </div>
  </div>
  <section class="evergreen explanation">
    <div class="section-title center">
        <h2>What is Evergreen</h2>
        <p>Evergreen's section goal is to highlight the endeavor's resorts, skiers and riders are undertaking, in their backyard, to reverse climate change.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation laborum..</p>
    </div>
  </section>
  <section class="evergreen posts">
    <div class="container-articles">
      <article>
        <div class="item">
          <figure class="img-box">
            <img src="assets/images/evergreen/windmill.jpg" alt="Wind Power">
            <div class="overlay">
              <div class="inner-box">
                <div class="content-box">
                  <button class="thm-btn style-2 donate-box-btn">Learn More</button>
                </div>
              </div>
            </div>
          </figure>
          <div class="content">
            <div class="text center">
                <a href="#"><h4 class="title">Wind Power Grows Up</h4></a>
                <p>Wind is the third-largest source of electricity in the country. Today more than 72,000 wind turbines across the country are generating clean, reliable power.</p>               
            </div>
          </div>
        </div>  
      </article>
      
      <article>
        <div class="item">
          <figure class="img-box">
            <img src="assets/images/evergreen/jj-shev-0MRYdypDmk8-unsplash.jpg" alt="Mountain Goat">
            <div class="overlay">
              <div class="inner-box">
                <div class="content-box">
                  <button class="thm-btn style-2 donate-box-btn">Learn More</button>
                </div>
              </div>
            </div>
          </figure>
          <div class="content">
            <div class="text center">
                <a href="#"><h4 class="title">Saving Our Planet</h4></a>
                <p>Climate change is the biggest collective challenge we face in our lifetimes. Isn’t it time we worked together not only to lessen its effects – but to actually stop it from happening?.</p>               
            </div>
          </div>
        </div>  
      </article>
      
      <article>
        <div class="item">
          <figure class="img-box">
            <img src="assets/images/evergreen/tree.jpg" alt="Global">
            <div class="overlay">
              <div class="inner-box">
                <div class="content-box">
                  <button class="thm-btn style-2 donate-box-btn">Learn More</button>
                </div>
              </div>
            </div>
          </figure>
          <div class="content">
            <div class="text center">
                <a href="#"><h4 class="title">Local Action Global Impact</h4></a>
                <p>Warmer land and air. Warming oceans. Melting sea ice and glaciers. Rising sea levels. Intense storms. Shorter winters. What can we do to combat..</p>               
            </div>
          </div>
        </div>  
      </article>
    </div>
  </section>
</div>
