---
layout: home-page.njk
---

    <div class="section slider-container">

    <div id="slider" class="animated">

        

        <div class="slide-content mobile-caption dark">

            <h2></h2>

            <p></p>

        </div><!-- slide content -->

        <div class="banner_carousel_container">

            <div class="carousel">

                <ul id="banner_carousel">

                    <li class="slider-image" data-src="assets/images/homepage/powder-skier-slashing-alaska.jpg">
                    <!-- <li class="slider-image" data-src="assets/images/ads/pepsi/china-peak/china-peak-groom.jpg"> -->
                        <div id="customText" class="hidden snowfall-content animated fadeInUp ">
                        <!--
                            <div id="sno-radio" class="radio-home-link" href="">
                                <div  class="radio-home">
                                    <div class="radio-home-copy">
                                        <div class="radio-home-header">Stream</div>
                                        <img src="../../assets/images/SnoCountry_RADIO_logo.png" class="no-white">
                                    </div>
                                    <div class="tags"><span>Music</span><span>Snow Reports</span><span>Weather</span></div>
                             </div>
                            </div>
                        -->
                            <div id="top-snowfall">
                                <h2>Top Snowfall</h2>
                                
                                <div id="top-snowfall-list" class="grid-container open-resorts ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Overnight </div>
                                    <div class="grid-header">Weather</div>
                                </div>
                            </div>
                            <div id="mobile-stories" class="mobile-stories">
                                <div class="state-list">
                                    <h6>Browse Conditions</h6>


                                    <a class="button home-bluebtn" href="/snow-report/connecticut" title="Conditions">CT</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/massachusetts" title="Conditions">MA</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/maine" title="Conditions">ME</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/new-hampshire" title="Conditions">NH</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/new-jersey" title="Conditions">NJ</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/new-york" title="Conditions">NY</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/pennsylvania" title="Conditions">PA</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/rhode-island" title="Conditions">RI</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/vermont" title="Conditions">VT</a>
                                    <br/>
                                    <a class="button home-bluebtn" href="/snow-report/colorado"  title="Conditions">CO</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/montana"  title="Conditions">MT</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/new-mexico"  title="Conditions">NM</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/utah"  title="Conditions">UT</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/wyoming"  title="Conditions">WY</a>
                                    <br/>
                                    <a class="button home-bluebtn" href="/snow-report/alaska"  title="Conditions">AK</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/idaho"  title="Conditions">ID</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/oregon"  title="Conditions">OR</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/washington"  title="Conditions">WA</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/arizona"  title="Conditions">AZ</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/california"  title="Conditions">CA</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/nevada"  title="Conditions">NV</a>
                                    <br/>
                                    <a class="button home-bluebtn" href="/snow-report/iowa"  title="Conditions">IA</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/illinois"  title="Conditions">IL</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/indiana"  title="Conditions">IN</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/minnesota"  title="Conditions">MN</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/missouri"  title="Conditions">MO</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/michigan"  title="Conditions">MI</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/ohio"  title="Conditions">OH</a>
                                    
                                    <a class="button home-bluebtn" href="/snow-report/south-dakota"  title="Conditions">WI</a>
                                    <br/>
                                    <a class="button home-bluebtn" href="/snow-report/alabama" title="Conditions">AL</a>
                                    <a class="button home-bluebtn" href="/snow-report/maryland" title="Conditions">MD</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/north-carolina" title="Conditions">NC</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/tennessee" title="Conditions">TN</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/virginia" title="Conditions">VA</a>
                                
                                    <a class="button home-bluebtn" href="/snow-report/west-virginia" title="Conditions">WV</a>      
                                </div>
                                <h2>Latest News</h2>
                                <div class="mobile-stories-container">
                                </div>
                            </div>
                            <div id="open-resorts" class="hidden">
                                <h2>Open Resorts</h2>
    
                                <div id="open-resorts-list" class="grid-container open-resorts ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Terrain </div>
                                    <div class="grid-header">Weather</div>
    
                                </div>

                            </div>
                        </div>

                    </li>   

                </ul>

            </div><!-- carousel -->

        </div><!-- banner_carousel -->

        

        <div class="pano-loader"><p>Loading...</p></div>

        <div id="slider-pagination" class="pagination">

            <ul id="bullets">

                <li title="Find the powder!" ><a class="page" href="#"></a></li>

                <li title='Get Ski Tickets'><a class="page" href="#"></a></li>

                <li title='Ripping the grooms.'><a class="page" href="#"></a></li>

            </ul>

        </div>

    

        <ul class="feature-boxes  animated fadeInRight summer-flyout">

            <li class="favorites-box sno-hide">

                <a class="tab" href="#"><span class='box-icon'></span>Your <i style='float:right' class="wi wi-direction-right"></i><br /><span class='small'>favorites</span></a>

                <div class="fly-box animated fadeInRight"  id="home-report">

                        <div class="xclose"></div>

                      <div class="favorites-report">

                        <div class="qbanner" style="background: none; height: auto; margin-bottom: 5px;">

                            <div class="table-snowconditions currentConditions">

                                <h2>Your Favorite Resorts</h2>

                                <span class="small lcase asof"><em></em></span>

                                                                    <table class="table">

                                    <thead>

                                        <tr>

                                            <th>Resort</th>

                                            <th>Report Date</th>

                                            <th>Weather</th>

                                            <th>New Snow</th>

                                            <th>Surface </th>

                                            <th>Base Depth</th>

                                            <th>Open Lifts</th>

                                            <th>Open Trails</th>

                                        </tr>

                                    </thead>

                                    <tbody>

                                        <tr>

                                            <td><a class="dark-button" href="#">Mt. Sunapee, NH</a></td>

                                            <td>March 13 6:45 am</td>

                                            <td><i class="wi wi-snow"></i> snow</td>

                                            <td>5 - 7"</td>

                                            <td>Powder</td>

                                            <td>40 - 45"</td>

                                            <td>7</td>

                                            <td>55</td>

                                        </tr>

                                        <tr>

                                            <td><a class="dark-button" href="#">Jay Peak, VT</a></td>

                                            <td>March 13 6:45 am</td>

                                            <td ><i class="wi wi-snowflake-cold"></i> snow</td>

                                            <td>5 - 7"</td>

                                            <td>Powder</td>

                                            <td>40 - 45"</td>

                                            <td>7</td>

                                            <td>55</td>

                                        </tr>

                                        <tr>

                                            <td><a class="dark-button" href="#">Loon, NH</a></td>

                                            <td>March 13 6:45 am</td>

                                            <td><i class="wi wi-snow-wind"></i> snow</td>

                                            <td>5 - 7"</td>

                                            <td>Powder</td>

                                            <td>40 - 45"</td>

                                            <td>7</td>

                                            <td>55</td>

                                        </tr>

                                        <tr>

                                            <td><a class="dark-button" href="#">Loveland, CO</a></td>

                                            <td>March 13 6:45 am</td>

                                            <td><i class="wi wi-snow"></i> snow</td>

                                            <td>5 - 7"</td>

                                            <td>Powder</td>

                                            <td>40 - 45"</td>

                                            <td>7</td>

                                            <td>55</td>

                                        </tr>

                                        <tr>

                                            <td><a class="dark-button" href="#">Mammoth, CA</a></td>

                                            <td>March 13 6:45 am</td>

                                            <td><i class="wi wi-snow"></i> snow</td>

                                            <td>5 - 7"</td>

                                            <td>Powder</td>

                                            <td>40 - 45"</td>

                                            <td>7</td>

                                            <td>55</td>

                                        </tr>

                                    </tbody>

                                </table>



                            </div>

                        </div><!-- end banner -->

                        <div class="ad-container">

                            <img class="ad-medium" src="assets/images/ads/ad-schweitzer-md.png" />                         

                        </div>

                    </div><!-- end left -->



                </div>  <!-- fly-box -->

            </li>
            
            <li class="updates-box pepsi-box flipped">
                <a class="tab" href="#">
                    <span class="box-icon"></span>Pepsi <i style='float:right' class="wi wi-direction-right"></i><br />
                    <span class="small small-pepsi ">Resort of the Week</span>
                </a>
            
                <div class="fly-box animated fadeInRight latest-flybox"  id="latest-flybox">
                    <div class="xclose"></div>
                    <div id="pepsi" class="pepsi">
            
                        <div class="pepsi-content">
                            <div class="pepsi-header">
                                <div class="pepsi-logo-container">   
                                    <img class="logo-camelback" src="assets/images/ads/pepsi/camelback/camelback-resort-logo.jpg" alt="Camelback Ski Resort">
                                    <img class="logo-pepsi" src="assets/images/ads/pepsi/pepsi-zero-sugar-logo.png" alt="Pepsi" >
                                </div>
                                <div class="pepsi-copy">Resort of the Week</div>
                            </div>
                            <div class="pepsi-video">
                  
                                <iframe width="640" height="360" src="https://www.youtube.com/embed/yYALHX0adPY?autoplay=1&mute=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" style="border-radius:3px;"></iframe>
                                <!--
                                <div class="pepsi-image">
                                    <a class="flex" href="/snow-report/pennsylvania/whitetail-resort/">
                                        <img class="img-small p-r-10" src="assets/images/ads/pepsi/whitetail/Whitetail-Groomer-Sunrise-Logo.jpg" />
                                        <img class="img-small" src="assets/images/ads/pepsi/whitetail/Whitetail-MtnDew.jpg" />
                                    </a>
                                </div>
                            -->
                            </div>
                        </div>    
                        <div class="clearfix"></div>
            
                        <p class="pepsi-resort-link-container ">
                        
                            <audio controls id="myaudio">
                               <source src="assets/audio/pepsi/2024-02-15-Camelback-ROTW.mp3" type="audio/mpeg">
                            </audio>
                        
                            
                           <a class="button home-bluebtn" href="/snow-report/pennsylvania/camelback-mountain/"  title="Go to Camelback Snow Report">Camelback Snow Report</a>
                        </p>
                
             
                    </div>
            
                </div>
            </li>
        
            <li class="updates-box  "><a class="tab" href="#"><span class="box-icon"></span>News <i style='float:right' class="wi wi-direction-right"></i><br />

                <span class="small">Events/Deals</span></a>

                <div class="fly-box  animated fadeInRight"  id="latest-flybox">
                    <div class="xclose"></div>
                   

                    <div id="offers" class="">

   

                        <hr>

                        <div class="clearfix"></div>

                        <!-- 
                            
                        <p><a class="button home-bluebtn" href="#" style="float: right;" title="Conditions">View all News Stories</a></p>
                         -->

                        <div class="clearfix"></div>

                        <div class="ad-container-relative">

                         <!--   <img class="ad-large-relative" src="assets/images/ads/ad-schweitzer-lg.png" />   -->                      

                        </div>

                    </div><!-- end stories --> 

                </div>

            </li>

            <li class="region-box" ><a class="tab" href="#"><span class="box-icon"></span>Eastern <i style='float:right' class="wi wi-direction-right"></i><br />

                <span class="small">Report</span> </a>  

                <div class="fly-box  animated fadeInRight" id="eastern-container">
                    <div class="xclose"></div>
                    <div class="snow-reports">

                        <div  class="qbanner" style="background: none; height: auto; margin-bottom: 5px;">

                            <div id="eastern" class="table-snowconditions currentConditions">
                                <h2>Top Snowfall</h2>
                                <div id="eastern-top-snowfall-list" class="grid-container region top-snowfall ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>

                                    <div class="grid-header">Overnight </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Base Depth</div>

                                </div>

                                <h2 class="m-t-10">Highlighted Resorts</h2>
                                <div id="eastern-members-list" class="grid-container region members ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>
                                    <div class="grid-header">New Snow </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Surface</div>
                                    <div class="grid-header">Base Depth</div>
                                    <div class="grid-header">Open Trails</div>
                                </div>
                            </div>

                        </div><!-- end banner -->

                    </div><!-- end left -->




                    <div class="clearfix"></div>

                    <h6>Browse Conditions</h6>

                    <p class="region-statelist">

                        <a class="button home-bluebtn" href="/snow-report/connecticut"  title="Conditions">CT</a>

                        <a class="button home-bluebtn" href="/snow-report/massachusetts"  title="Conditions">MA</a>

                        <a class="button home-bluebtn" href="/snow-report/maine"  title="Conditions">ME</a>

                        <a class="button home-bluebtn" href="/snow-report/new-hampshire"  title="Conditions">NH</a>

                        <a class="button home-bluebtn" href="/snow-report/new-jersey"  title="Conditions">NJ</a>

                        <a class="button home-bluebtn" href="/snow-report/new-york"  title="Conditions">NY</a>

                        <a class="button home-bluebtn" href="/snow-report/pennsylvania"  title="Conditions">PA</a>

                        <a class="button home-bluebtn" href="/snow-report/rhode-island"  title="Conditions">RI</a>

                        <a class="button home-bluebtn" href="/snow-report/vermont"  title="Conditions">VT</a>

                        <span class="p-l-20"> </span>



                        <a class="button home-bluebtn" href="/snow-report/alabama"  title="Conditions">AL</a>

                        <a class="button home-bluebtn" href="/snow-report/maryland"  title="Conditions">MD</a>

                        <a class="button home-bluebtn" href="/snow-report/north-carolina"  title="Conditions">NC</a>

                        <a class="button home-bluebtn" href="/snow-report/tennessee"  title="Conditions">TN</a>

                        <a class="button home-bluebtn" href="/snow-report/virginia"  title="Conditions">VI</a>

                        <a class="button home-bluebtn" href="/snow-report/west-virginia"  title="Conditions">WV</a>

                    </p>



                </div>

            </li>

            <li class="region-box"><a class="tab" href="#"><span class="box-icon"></span>MidWest <i style='float:right' class="wi wi-direction-right"></i><br />

                <span class="small">Report</span></a>

                <div class="fly-box  animated fadeInRight"  id="midwest-container">
                    <div class="xclose"></div>
                    <div class="snow-reports">

                        <div class="qbanner" style="background: none; height: auto; margin-bottom: 5px;">
                            
                            <div id="midwest" class="table-snowconditions currentConditions">
                                <h2>Top Snowfall</h2>
                                <div id="midwest-top-snowfall-list" class="grid-container region top-snowfall ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>
                            
                                    <div class="grid-header">Overnight </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Base Depth</div>
                            
                                </div>
                            
                                <h2 class="m-t-10">Highlighted Resorts</h2>
                                <div id="midwest-members-list" class="grid-container region members ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>
                                    <div class="grid-header">New Snow </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Surface</div>
                                    <div class="grid-header">Base Depth</div>
                                    <div class="grid-header">Open Trails</div>
                                </div>
                            </div>

                        </div><!-- end banner -->

                    </div><!-- end left -->
                

                    <hr>

                    <div class="clearfix"></div>

                    <h6>Browse Conditions</h6>

                    <p class="region-statelist">

                        <a class="button home-bluebtn" href="/snow-report/iowa"  title="Conditions">Iowa</a>

                        <a class="button home-bluebtn" href="/snow-report/illinois"  title="Conditions">Illinois</a>

                        <a class="button home-bluebtn" href="/snow-report/indiana"  title="Conditions">Indiana</a>

                        <a class="button home-bluebtn" href="/snow-report/minnesota"  title="Conditions">Minnesota</a>

                        <a class="button home-bluebtn" href="/snow-report/missouri"  title="Conditions">Missouri</a>

                        <a class="button home-bluebtn" href="/snow-report/michigan"  title="Conditions">Michigan</a>

                        <a class="button home-bluebtn" href="/snow-report/ohio"  title="Conditions">Ohio</a>

                        <a class="button home-bluebtn" href="/snow-report/south-dakota"  title="Conditions">Wisconsin</a>

                    </p>



                </div>

            </li>

            <li class="region-box"><a class="tab" href="#"><span class="box-icon"></span>Rockies <i style='float:right' class="wi wi-direction-right"></i><br />

                <span class="small">Report</span></a>

                <div class="fly-box  animated fadeInRight" id="rockies-container">
                    <div class="xclose"></div>
                    <div class="snow-reports">

                        <div class="qbanner" style="background: none; height: auto; margin-bottom: 5px;">
                            <div id="rockies" class="table-snowconditions currentConditions">
                                <h2>Top Snowfall</h2>
                                <div id="rockies-top-snowfall-list" class="grid-container region top-snowfall ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>
                            
                                    <div class="grid-header">Overnight </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Base Depth</div>
                            
                                </div>
                            
                                <h2 class="m-t-10">Highlighted Resorts</h2>
                                <div id="rockies-members-list" class="grid-container region members ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>
                                    <div class="grid-header">New Snow </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Surface</div>
                                    <div class="grid-header">Base Depth</div>
                                    <div class="grid-header">Open Trails</div>
                                </div>
                            </div>

                        </div><!-- end banner -->

                    </div><!-- end left -->



                                    



                    

                    <div class="clearfix"></div>

                    <h6>Browse Conditions</h6>

                    <p class="region-statelist">

                        <a class="button home-bluebtn" href="/snow-report/colorado"  title="Conditions">Colorado</a>

                        <a class="button home-bluebtn" href="/snow-report/montana"  title="Conditions">Montana</a>

                        <a class="button home-bluebtn" href="/snow-report/new-mexico"  title="Conditions">New Mexico</a>

                        <a class="button home-bluebtn" href="/snow-report/utah"  title="Conditions">Utah</a>

                        <a class="button home-bluebtn" href="/snow-report/wyoming"  title="Conditions">Wyoming</a>

                    
                <!--
                <div class="ad-container-relative">

                    <a href="/component/banners/click/176" target="_blank" rel="noopener noreferrer" title="Copper Mountain Resort Page 728x90">

                    <img src="https://www.snocountry.com/images/banners/Copper-Mountain_728x90-12-6-17.jpg" alt="Copper Mountain" width="728" height="90">

                    </a>                    

                </div> 
            -->



                </div>

            </li>

            <li class="region-box" ><a class="tab" href="#"><span class="box-icon"></span>Western  <i style='float:right' class="wi wi-direction-right"></i><br />

                <span class="small">Report</span></a>

                <div class="fly-box  animated fadeInRight" id="western-container">
                    <div class="xclose"></div>
                    <div class="snow-reports">

                        <div class="qbanner" style="background: none; height: auto; margin-bottom: 5px;">
                            <div id="western" class="table-snowconditions currentConditions">
                                <h2>Top Snowfall</h2>
                                <div id="western-top-snowfall-list" class="grid-container region top-snowfall ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>
                            
                                    <div class="grid-header">Overnight </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Base Depth</div>
                            
                                </div>
                            
                                <h2 class="m-t-10">Highlighted Resorts</h2>
                                <div id="western-members-list" class="grid-container region members ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>
                                    <div class="grid-header">New Snow </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Surface</div>
                                    <div class="grid-header">Base Depth</div>
                                    <div class="grid-header">Open Trails</div>
                                </div>
                            </div>
                            

                        </div><!-- end banner -->

                    </div><!-- end snow-reports -->

                    <div class="clearfix"></div>

                    <h6>Browse Conditions</h6>

                    <p class="region-statelist">

                        <a class="button home-bluebtn" href="/snow-report/alaska"  title="Conditions">Alaska</a>

                        <a class="button home-bluebtn" href="/snow-report/idaho"  title="Conditions">Idaho</a>

                        <a class="button home-bluebtn" href="/snow-report/oregon"  title="Conditions">Oregon</a>

                        <a class="button home-bluebtn" href="/snow-report/washington"  title="Conditions">Washington</a>

                        <a class="button home-bluebtn" href="/snow-report/arizona"  title="Conditions">Arizona</a>

                        <a class="button home-bluebtn" href="/snow-report/california"  title="Conditions">California</a>

                        <a class="button home-bluebtn" href="/snow-report/nevada"  title="Conditions">Nevada</a>

                    </p>



                </div>

            </li>



            <li class="region-box last-region-box" ><a class="tab" href="#"><span class="box-icon"></span>Canada <i style='float:right' class="wi wi-direction-right"></i><br />

                <span class="small">Report</span></a>

                <div class="fly-box  animated fadeInRight" id="canada-container">
                    <div class="xclose"></div>
                    <div class="snow-reports">

                        <div class="qbanner" style="background: none; height: auto; margin-bottom: 5px;">
                            <div id="canada" class="table-snowconditions currentConditions">
                                <h2>Top Snowfall</h2>
                                <div id="canada-top-snowfall-list" class="grid-container region top-snowfall ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>
                            
                                    <div class="grid-header">Overnight </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Base Depth</div>
                            
                                </div>
                            
                                <h2 class="m-t-10">Highlighted Resorts</h2>
                                <div id="canada-members-list" class="grid-container region members ">
                                    <div class="grid-header resort-name">Resort</div>
                                    <div class="grid-header">Report Date</div>
                                    <div class="grid-header">New Snow </div>
                                    <div class="grid-header">Weather</div>
                                    <div class="grid-header">Surface</div>
                                    <div class="grid-header">Base Depth</div>
                                    <div class="grid-header">Open Trails</div>
                                </div>
                            </div>
                        </div><!-- end banner -->

                    </div><!-- end snow-reports -->

                    <div class="clearfix"></div>

                    <h6>Browse Conditions</h6>

                    <p class="region-statelist">

                        <a class="button home-bluebtn" href="/snow-report/alberta"  title="Conditions">Alberta</a>

                        <a class="button home-bluebtn" href="/snow-report/british-columbia"  title="Conditions">British Columbia</a>

                        <a class="button home-bluebtn" href="/snow-report/manitoba"  title="Conditions">Manitoba</a>

                        <a class="button home-bluebtn" href="/snow-report/new-brunswick"  title="Conditions">New Brunswick</a>

                        <a class="button home-bluebtn" href="/snow-report/nova-scotia"  title="Conditions">Nova Scotia</a>

                        <a class="button home-bluebtn" href="/snow-report/ontario"  title="Conditions">Ontario</a>

                        <a class="button home-bluebtn" href="/snow-report/quebec"  title="Conditions">Quebec</a>

                    



                </div>

            </li>





        </ul>

    </div>  <!-- slider animated-->

</div> <!-- section slider -->
