---
layout: mountain-life.njk
permalink:  /mountain-life/history-culture/ski-snowboard-terminology-slang/index.html
eleventyComputed:
  title:  Skiing & Snowboarding Terms, Slang and Jargon
  schemaAbsoluteUrl: https://snocountry.com/mountain-life/beginner-guide/taking-your-first-ski-snowboard-lesson
  schemaDescription: From carving turns to catching an edge, decode the world of ski and snowboard slang. This jargon-filled guide will have you speaking the language of the slopes in no time.
  schemaDate: "2025-04-16T18:15:20+00:00"
  schemaAuthor: Josh Petit
  schemaName:  Skiing & Snowboarding Terms, Slang and Jargon
  schemaArticleImage: https://www.snocountry.com/assets/images/mountain-life/culture/slang/hero-snowboard-glades.jpg
  schemaHeroImage : https://www.snocountry.com/assets/images/mountain-life/culture/slang/hero-snowboard-glades.jpg
---
<style>
  /* Section - Parallax */
  /**************************/
  #parallax-snocountry .parallax-hero     {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(/assets/images/mountain-life/culture/slang/hero-snowboard-glades.jpg);  background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center; box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.55);}

  div.block .section-image {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0px;
    display: block;
  }
  
  .greenish {color: #37CDC1;}
  .blueish {color: #A1D6FC;}
  .orangeish {color: #FF9705;}
  .yellowish {color: #FFC505;}
  .blueish-mid {color: #5886E9;}
  .blueish-dark {color: #0F3B99;}
  
  .publisher {
    width: 820px;
    margin-top: 50px;
    margin-inline: auto;
    padding-inline: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:gray;
  }
  
  .tagline {
    width: 820px;
    margin-top: 50px;
    margin-inline: auto;
    padding-inline: 60px;
    color:gray;
  
  }
  .publisher-bottom {
    margin-top:unset;
    padding-bottom:50px;
  }
  .publisher > div {
    float:right;
  }
  parallax-snocountry h1 {
    font-weight: 600;
  }
  #parallax-snocountry h2.inline-title {
    border-bottom: 1px dashed white;
    font-size: clamp(1rem, 4.166vw, 5rem);
    letter-spacing: unset;
  }
  @media screen and (max-width: 767px) {
    publisher {
      margin-top:unset;
      padding: 30px 15px 0px;
    }
  }


  
</style>
<div id="parallax-snocountry">

  <section>
      <div class="parallax-hero">
        <h1> Skiing & Snowboarding Terms, Slang and Jargon</h1>
      </div>
  </section>
  
  <section>
    <div class="publisher">
      <div class="author">
        SnoCountry.com | By Josh Petit
      </div>
      <div class="publish-date">
        Published Apr 16, 2025 at 2:15 pm 
      </div>
    </div>
  </section>
  <section>
    <div class="block">
      <p>
        <span class="first-character greenish">H</span>
itting the slopes for the first time can feel like stepping into a whole new world—one filled with powder, moguls, and après-ski vibes. But if you don’t know the lingo, you might find yourself lost in translation when someone raves about catching first tracks in a blower or having a yard sale after catching an edge. Whether you're a never-ever gearing up for your first day on the bunny slope or a seasoned skier looking to refine your steeze in the terrain park, understanding skiing and snowboarding terminology will help you navigate the mountain like a pro. From the basics like chairlifts and carving to deep-cut slang like gapers and snorkeling, this guide breaks down the jargon so you can talk the talk—and maybe even ski the ski.
      </p>
    </div>
  </section>
  
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">A</h2>
      <ul class="mountain-life-list">
        <li><strong>Alpine skiing:</strong> Downhill skiing where the toe and heel of the boot are fixed to the ski.</li>
        <li><strong>Après/Après-ski:</strong> The nightlife following a day of skiing or snowboarding, e.g. eating, drinking, listening to live music or relaxing in a hot tub.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/apres-ski-beers.jpg" alt="A flight of beers during apres ski at One Love Brewery in Lincoln, NH" />
        <li><strong>Avy::</strong> Slang for an avalanche. </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">B</h2>
      <ul class="mountain-life-list">
        <li><strong>Backcountry:</strong> Also called out-of-bounds or off-piste, this type of skiing happens in unmarked, unpatrolled areas beyond the boundaries of the resort. </li>
        <li><strong>Backseat:</strong> Leaning too far toward the tail of your skis or snowboard</li>
        <li><strong>Base Area:</strong> The bottom of the mountain where the lodge is located.</li>
        <li><strong>Base Depth:</strong> Average depth of snow on the mountain.</li>
        <li><strong>Basket:</strong> A flat disc near the tip of a ski pole that prevents the pole from sinking too far in the snow.</li>
        <li><strong>Beaver slap:</strong> When a snowboarder slaps their board on the ground to remove snow that is stuck to the topsheet. </li>
        <li><strong>Big-mountain skiing or snowboarding:</strong> The style of skiing or snowboarding seen in ski movies, featuring steep vertical descents and, usually, cliff drops.</li>
        <li><strong>Black Diamond:</strong> Ski runs are classified by different colors, with a black diamond indicating expert terrain.</li>
        <li><strong>Blower:</strong> A term for extremely light snow that exists in ample amounts.</li>
        <li><strong>Bluebird:</strong> A day with clear, sunny skies and minimal cloud cover.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-bluebird-day.jpg" alt="A bluebird day with a view of Mt. Washington from Bretton Woods, NH" />

        <li><strong>Blue Run:</strong> Ski runs are classified by different colors with a blue square indicating intermediate terrain.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-intermediate-blue-square-trail-sign.jpg" alt="An intermediate or blue square ski trail sign for David’s Detour at Cannon Mountain, NH" />

        <li><strong>Boilerplate:</strong> Hard-packed, icy conditions that are hard to set an edge in. Typically caused when snow melts and refreezes. Also called “bullet proof”.</li>
        <li><strong>Bomb:</strong> To go downhill at high speed. </li>
        <li><strong>Bonk:</strong> Deliberately tapping an object with your skis or snowboard.</li>
        <li><strong>Bowl skiing:</strong> Skiing on wide bowl-shaped slopes with or without trees. </li>
        <li><strong>Brain bucket:</strong> A helmet.</li>
        <li><strong>Bullet proof:</strong> Hard packed, icy conditions that are hard to set an edge in. Typically caused when snow melts and refreezes. Also called “boilerplate”.</li>
        <li><strong>Bullwheel:</strong> The large wheel at either end of a ski lift that helps drive or return the cable that carries the chairs or gondolas. </li>
        <li><strong>Bunny slope:</strong> The area of the mountain with a gentle slope, perfect for beginners. This is typically where beginner lessons take place.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-beginner-trail.jpg" alt="A skier going down a beginner trail at Gunstock Mountain, NH" />

        <li><strong>Butter:</strong>  A trick where the rider shifts their weight to press either the nose (nose butter) or tail (tail butter) of the board or skis while spinning or sliding across the snow.</li>
      </ul>
    </div>
  </section>
  
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">C</h2>
      <ul class="mountain-life-list">
        <li><strong>Call your drop:</strong> Letting other riders know you’re taking your turn (hand in the air and call out “dropping”)</li>
        <li><strong>Carve:</strong> The act of digging the ski/snowboard’s edge into packed snow to turn without skidding. This typically leaves a pencil-thin track in the snow. </li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-carve.jpg" alt="A deep carve line in the snow" />
        <li><strong>Catching an edge:</strong> When the downhill edge of a ski or snowboard accidentally digs into the snow, usually resulting in a fall.</li>
        <li><strong>Cat-skiing:</strong> Backcountry terrain which is accessed using a snowcat.</li>
        <li><strong>Cat track:</strong> A flat trail used by snowcats (groomers) to get around the mountain.</li>
        <li><strong>Chairlift:</strong> A type of aerial lift, which consists of a continuously circulating steel cable loop strung between two end terminals, carrying a series of chairs, typically with skier or snowboarder passengers.</li>
        <li><strong>Chondola:</strong> A ski resort lift that has a mix of both chair lifts and gondola cars.</li>
        <li><strong>Chutes:</strong> Narrow sections of snow between two rock walls or other obstacles, typically skied by expert skiers or snowboarders.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-chutes.jpg" alt="The face chutes at Jay Peak, VT" />
        <li><strong>Cold smoke:</strong> a very light, dry, and powdery snow that blows around like a cloud of smoke when you ski through it. </li>
        <li><strong>Corduroy:</strong> The ridges in the snow that are left behind by the grooming machines or snowcats. Corduroy is also another word for groomer or groomed slope.</li>
        <li><strong>Corn:</strong> Snow that is characterized by its large corn-kernel-sized shape found during the spring.</li>
        <li><strong>Cornice:</strong> An overhanging mass of snow at the edge of a ridge or peak.</li>
        <li><strong>Core shot:</strong> This typically happens when a ski or snowboard hits a hard object like a rock, causing a deep gouge where the base has been punctured to expose the core material. </li>
        <li><strong>Couloir:</strong> A narrow, steep, and often rocky gully or chute on a mountain, typically found in alpine or backcountry terrain.</li>
        <li><strong>Cross-country skiing:</strong> Skiing on flat terrain with no extra help from slopes or lifts. Cross-country skiing uses lighter weight boots and lighter, narrower skis than alpine skiing. </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">D</h2>
      <ul class="mountain-life-list">
        <li><strong</>Death before download:</strong> The belief that you should always ride down rather than taking the lift, no matter how bad the conditions.</li>
        <li><strong</>Death cookies:</strong> Hard, icy snow chunks on groomed runs, formed by grooming machines breaking up refrozen snow, making rough, unpredictable terrain. These can range in size from small pebbles to softball sized or larger pieces.</li>
        <li><strong</>Detachable lift:</strong> A type of lift where the chairs temporarily detach from the moving cable at the loading and unloading stations. This allows the chairs to slow down significantly, making it easier and safer to get on and off the lift.</li>
        <li><strong</>DIN settings:</strong> Deutsche Industrie Normen (DIN) refers to the standardized release setting that determines how easily the bindings will release a skier's boots in the event of a fall.</li>
        <li><strong</>Double black diamond:</strong> a trail designated for experts. They typically feature extremely steep terrain, obstacles such as rocks and trees, ungroomed conditions, and technical challenges that require advanced skills. </li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-double-black-diamond-trail-sign.jpg" alt="A bright yellow sign for a double black diamond trail that says experts only at Killington, VT" />

        <li><strong</>Double lift:</strong> A chairlift that carries two people.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-double-chair.jpg" alt="The Wilderness double chair at Bolton Valley, VT" />

        <li><strong</>Downhill:</strong> A high-speed alpine skiing discipline where competitors race down a steep, pre-set course with the goal of achieving the fastest time. It is characterized by long, sweeping turns and high speeds.</li>
        <li><strong</>Dry slope:</strong> A dry slope is a small ski hill made out of synthetic material that is meant to imitate a snowy surface.</li>
        <li><strong</>Ducking ropes:</strong> Riding into closed areas by going under boundary ropes.</li>
        <li><strong</>Dump:</strong> An unusually large or heavy snowfall.</li>
        <li><strong</>Dust on Crust:</strong> A thin covering of light snow on top of hard, icy snow.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">E</h2>
      <ul class="mountain-life-list">
        <li><strong</>Early season:</strong> The beginning of ski season, typically before the New Year. </li>
        <li><strong</>Earn your turns:</strong> When skiers or snowboarders put in the physical effort to ascend a mountain or terrain before descending it.</li>
        <li><strong</>Edge:</strong> The metal strip found on the bottom sides of skis and snowboards used for making turns.</li>
        <li><strong</>Ego bumps:</strong> Refers to moguls that form on ungroomed trails that are irregularly shaped and often poorly spaced due to inconsistent turns. The term comes from the fact that these bumps can humble even confident skiers and snowboarders.</li>
        <li><strong</>Ejected:</strong> When a skier's boots are forcefully released from their bindings, typically due to a fall, sudden impact, or catching an edge.</li>
        <li><strong</>Epic:</strong> A day, a run, or conditions that are unforgettable and out of the norm.</li>
        <li><strong</>Euro carve:</strong> A carved turn where you go back up the hill.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">F</h2>
      <ul class="mountain-life-list">
        <li><strong</>Face shot:</strong> When the snow is deep enough that it kicks up into your face. </li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-face-shot.jpg" alt="A snowboarder going through deep powder with snow kicking up into their face" />

        <li><strong</>Falling leaf:</strong> When a snowboarder zig zags across the hill on one edge similar to leaf floating back and forth as it falls.  </li>
        <li><strong</>Fall line:</strong> The line a ball would follow if rolled down the slope. </li>
        <li><strong</>Figure eight:</strong> Ski or snowboard tracks when viewed from above resemble the number “8”.</li>
        <li><strong</>Firing:</strong> Absolutely perfect conditions, often referring to fresh snow and ideal weather.</li>
        <li><strong</>First chair:</strong> The first chair up the mountain each day. </li>
        <li><strong</>First tracks:</strong> The first to ski or ride an area of fresh snow before anyone else; also known as “freshies.”</li>
        <li><strong</>Fixed grip lift:</strong> A type of ski lift where the chairs are permanently attached to the moving cable. These are generally slower than detachable lifts. </li>
        <li><strong</>Flat light:</strong> Refers to low-contrast lighting conditions where the terrain appears featureless. This makes it difficult to see bumps, dips, and changes in snow conditions, affecting depth perception and making skiing more challenging.</li>
        <li><strong</>Free refills:</strong> When it is snowing so hard that your tracks are covered by the time you get back to the top. </li>
        <li><strong</>Freeride skiing or snowboarding:</strong> see Big-mountain skiing or snowboarding.</li>
        <li><strong</>Freestyle skiing:</strong> A skiing discipline that incorporates aerial tricks, and jumps into downhill skiing.</li>
        <li><strong</>French Fry:</strong> Skiing with your feet parallel. </li>
        <li><strong</>Freshies:</strong> The first to ski or ride an area of fresh snow before anyone else</li>
        <li><strong</>Frozen granular:</strong> A refrozen, crusty snow surface that can be rough to ride.</li>
        <li><strong</>Full send:</strong> Going all out with maximum commitment, often attempting a big jump, trick, or line without hesitation, regardless of the risk.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">G</h2>
      <ul class="mountain-life-list">
        <li><strong</>Gaper:</strong> A skiing and snowboarding slang term for an inexperienced or oblivious skier or rider, often identified by a noticeable gap between their goggles and helmet or hat. The term can be used humorously or mockingly within ski culture.</li>
        <li><strong</>Gaper gap:</strong> The visible space between a helmet and goggles, often a giveaway of inexperience.</li>
        <li><strong</>Gear tuning:</strong> Preparing your skis or snowboard for the next day on snow. </li>
        <li><strong</>Giant slalom (GS):</strong> An alpine ski race that features wide, fast turns through a series of gates, which are set farther apart than in slalom racing..</li>
        <li><strong</>Glades/tree skiing:</strong> Wooded areas on a mountain where trees are spaced far enough apart to allow skiers and snowboarders to navigate between them. These areas typically offer more natural and challenging terrain.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-glade-tree-run.jpg" alt="he view looking down a glade or tree run at a ski resort" />

        <li><strong</>Gnarly/Gnar:</strong> Something that was crazy, challenging or dangerous.</li>
        <li><strong</>Gondola:</strong> A gondola is an enclosed lift suspended from a cable to transport passengers up and down a mountain. Gondolas typically carry 4 to 8 passengers. </li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-gondola.jpg" alt="The K1 Gondola at Killington Mountain Resort in Vermont" />

        <li><strong</>Gondy:</strong> Slang for gondola. </li>
        <li><strong</>Goofy:</strong> A snowboarder who rides with their right foot forward.</li>
        <li><strong</>Granular Snow:</strong> Snow that looks like rock salt with a sand-like consistency. </li>
        <li><strong</>Green Run:</strong> Ski runs are classified by different colors, with a green circle indicating beginner terrain.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-green-trail-sign.jpg" alt="rail signs for a green circle beginner trail and a black diamond expert trail at Bretton Woods, NH" />

        <li><strong</>Grom:</strong> A young skier or snowboarder.</li>
        <li><strong</>Groomed slope:</strong> Refers to a trail or terrain that has been groomed and is now smooth with fresh corduroy.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">H</h2>
      <ul class="mountain-life-list">
        <li><strong</>Halfpipe:</strong> A pipe-shaped snow construction which amateur and competitive skiers and snowboarders perform tricks out of.</li>
        <li><strong</>Hard pack:</strong> A type of snow condition where the snow has become compacted and firm, often due to repeated use, grooming, or freeze-thaw cycles. It creates a solid, smooth surface that can be icy and more difficult to navigate. </li>
        <li><strong</>Headwall:</strong> A steep, often rocky section of a ski slope or mountain, typically located at the top of a run. It is characterized by its challenging, near-vertical terrain, making it more difficult.</li>
        <li><strong</>Heel drag:</strong> When the heels of your boot hang over the heelside edge of your board and catch the snow when turning.</li>
        <li><strong</>Heelside hero:</strong> A snowboarder who relies almost entirely on their heelside edge for control and turning, often avoiding using their toeside edge.</li>
        <li><strong</>Heli-skiing:</strong> Skiing or snowboarding that requires a helicopter to access the terrain. </li>
        <li><strong</>Hero snow:</strong> . A soft, forgiving snow that provides excellent grip and control, making skiing and snowboarding feel easier and effortless. This type of snowpack is most common in spring.</li>
        <li><strong</>Herringbone:</strong> A skiing technique named after the marks left by skis when a skier skates up a hill.</li>
      </ul>
    </div>
  </section>  
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">I</h2>
      <ul class="mountain-life-list">
        <li><strong</>Indy grab:</strong> A type of snowboard trick where the rider grabs the toe edge of the board between the front and back foot with their back hand.</li>
        <li><strong</>In-run/run-in:</strong> The area that leads up to a jump or feature in a terrain park.</li>
        <li><strong</>Inverted:</strong> A trick in freestyle skiing or snowboarding where the rider flips upside down. </li>
      </ul>
    </div>
  </section>  
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">J</h2>
      <ul class="mountain-life-list">
        <li><strong</>Jerry:</strong> A skier or snowboarder who lacks skill and knowledge about proper mountain etiquette, often identifiable by their poor gear or clumsy movements. Also someone who might be considered a hazard on the slopes, similar to the term "gaper”.</li>
        <li><strong</>Jib:</strong> The act of jumping or sliding on a surface other than snow.</li>
        <li><strong</>Jib stick:</strong> A snowboard designed specifically for park riding and tricks.</li>
        <li><strong</>Jump turn:</strong> A method of turning by jumping and changing direction with your skis or snowboard in the air; generally used in steep terrain.</li>
      </ul>
    </div>
  </section>  
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">K</h2>
      <ul class="mountain-life-list">
        <li><strong</>Kick turn:</strong> An about-face turn while stationary by lifting one ski and reversing its direction, followed by the other ski.</li>
        <li><strong</>Kicker:</strong> A sharply angled jump that allows a skier or boarder to gain significant height.</li>
        <li><strong</>Knuckle:</strong> The very beginning of the landing area. Landing here can lead to an abrupt or hard impact if not cleared. </li>
      </ul>
    </div>
  </section>  
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">L</h2>
      <ul class="mountain-life-list">
        <li><strong</>Lawn chair:</strong> When someone falls in such a way that their body ends up with their skis or snowboard positioned in front of them, with their legs bent at an awkward angle, resembling the shape of a lawn chair. Typically a product of falling backward unexpectedly.  </li>
        <li><strong</>Leg burner:</strong> A long, nonstop run that leaves your legs on fire.</li>
        <li><strong</>Liftie:</strong> A lift operator.</li>
        <li><strong</>Line:</strong> The route that you took or are going to take. </li>
        <li><strong</>Lip:</strong> The critical point at the end of a jump where you leave the ground.</li>
      </ul>
    </div>
  </section>  
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">M</h2>
      <ul class="mountain-life-list">
        <li><strong</>Magic carpet:</strong> A type of surface lift often found in beginner learning areas for its ease of use.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-magic-carpet.jpg" alt="A skier going up the magic carpet beginner lift" />

        <li><strong</>Mashed potatoes:</strong> Wet, heavy snow resembling the consistency of mashed potatoes. </li>
        <li><strong</>Moguls:</strong> Mounds of snow typically found on ungroomed trails, also known as bumps.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-moguls.jpg" alt="Looking up a long trail full of moguls" />

      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">N</h2>
      <ul class="mountain-life-list">
        <li><strong</>NASTAR:</strong> A public racing program with courses at many mountains, allowing anyone to compete and to handicap themselves against world-class racing times.</li>
        <li><strong</>Never-ever:</strong> Someone who has never been skiing or snowboarding and signs up for a first-time lesson.</li>
        <li><strong</>Newbie/Noob:</strong> Slang for a beginner or someone is very new with little experience. </li>
        <li><strong</>No fall zone:</strong> An area where a fall could result in a serious injury.</li>
        <li><strong</>Nollie:</strong> A trick where the rider uses the nose of their snowboard or tips of their skis to push off the ground and lift the board into the air without using a jump.</li>
        <li><strong</>Nordic skiing:</strong> Another term for cross-country skiing.</li>
        <li><strong</>Nose:</strong> The front of a snowboard or tips of skis. </li>
        <li><strong</>Nuking:</strong> A slang term used to describe an extremely hard snowfall, think whiteout blizzard conditions. </li>

      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">O</h2>
      <ul class="mountain-life-list">
        <li><strong</>Off-piste:</strong> "Off-piste" means in uncontrolled terrain, i.e. in side country, out-of-bounds or backcountry areas.</li>
        <li><strong</>Ollie:</strong> A trick where the rider uses the tail of their snowboard or skis to push off the ground and lift the board into the air without using a jump.</li>
        <li><strong</>On-piste:</strong> "Piste" is the French word for trail or run. Therefore, "on-piste" would mean on a maintained trail or run.</li>
        <li><strong</>Out-of-bounds:</strong> Terrain outside the boundary of the ski area with no avalanche control or ski patrol..</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">P</h2>
      <ul class="mountain-life-list">
        <li><strong</>Packed powder:</strong> Snow that has been compressed or compacted, either by skiers or snowcats, but still retains a light, fluffy texture.</li>
        <li><strong</>Parallel skiing:</strong> A technique in alpine skiing where both skis stay parallel to each other while turning.</li>
        <li><strong</>Park rat:</strong> A skier or snowboarder who only rides park.</li>
        <li><strong</>Pillows:</strong> Piles of snow that form in areas with deep powder. They can be found where rocks, boulders, or downed trees are covered by snow. Pillows are often found in avalanche-prone areas. </li>
        <li><strong</>Pizza:</strong> Performed by slowly snow plowing down a slope. Generally used by ski instructors and beginner skiers.</li>
        <li><strong</>Pizza box:</strong> A single person lift that is a square plank that resembles a pizza box hanging from the cable with a single metal pole and no safety bar.</li>
        <li><strong</>Poaching:</strong> Illegally riding a closed run or in a restricted area.</li>
        <li><strong</>Pond skimming:</strong> A spring-skiing pastime at ski resorts where skiers and snowboarders wear costumes and try their best to skim across a pond. </li>
        <li><strong</>Pow:</strong> Short for powder. </li>
        <li><strong</>Powder:</strong> The “ideal” snow condition that occurs after a fresh dump of snow.</li>
        <li><strong</>Powderhound:</strong> Someone who lives to ride powder and will seek out powder days. </li>
        <li><strong</>Pre-release:</strong> The situation when skis are released earlier than anticipated.</li>
        <li><strong</>Puking:</strong> A slang term for when it is snowing fairly hard</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">Q</h2>
      <ul class="mountain-life-list">
        <li><strong</>Quad lift:</strong> A chairlift carrying four people.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-quad-lift.jpg" alt="Jay Peaks Green Mountain Flyer quad chairlift with four snowboarder" />

        <li><strong</>Quiver:</strong> This also refers to someone's collection of skis or snowboards that are tuned and ready to use.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-quiver.jpg" alt="A four snowboard quiver" />

      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">R</h2>
      <ul class="mountain-life-list">
        <li><strong</>Railroad tracks:</strong> Linked carved turns on skis where the tracks resemble railroad tracks.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-railroad-tracks.jpg" alt="A skiers tracks in the snow. Also known as railroad tracks." />

        <li><strong</>Rail slide:</strong> A technique performed by sliding skis or a board across a metal or wooden rail, generally done in terrain parks.</li>
        <li><strong</>Regular:</strong> A snowboarder who rides with their left foot forward.</li>
        <li><strong</>Regular camber:</strong> Refers to a ski or snowboard shape where the center of the board is raised off the snow.</li>
        <li><strong</>Rime:</strong> Frost or ice buildup on trees, lifts, and other surfaces due to freezing fog.</li>
        <li><strong</>Rockered:</strong> Refers to a ski or snowboard shape where the center of the board is curved downward while the tip and tail are slightly raised off the snow. Also called “reverse camber”.</li>
        <li><strong</>Rolling down the windows:</strong> Frantic arm-flailing that happens when someone loses control while in the air.</li>
        <li><strong</>Rope tow:</strong> A lift more commonly found on bunny hills where skiers and snowboarders keep their feet on the snow and hold onto a rope that pulls them up the hill.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">S</h2>
      <ul class="mountain-life-list">
        <li><strong</>Scorpion:</strong> A type of fall in skiing or snowboarding where the rider falls forward, and their feet flip over their head, causing their body to arch in a way that resembles a scorpion’s tail.</li>
        <li><strong</>Send it:</strong> Go for it and commit 100%. </li>
        <li><strong</>Shaped skis:</strong> Skis characterized by some form of an hourglass shape designed for easier turning.</li>
        <li><strong</>Shot ski:</strong> A ski that has multiple shot glasses attached to it, allowing several people to take a shot simultaneously. </li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-shot-ski.jpg" alt="An orange shot ski with four green shot glasses" />

        <li><strong</>Six-pack:</strong> A chairlift carrying six people.</li>
        <li><strong</>Ski in ski out:</strong> Lodging on or near the slopes allowing skiers to ski in and out of their accommodations. </li>
        <li><strong</>Skijoring:</strong> The winter recreation activity of being pulled over snow by a dog, horse or a motor vehicle.</li>
        <li><strong</>Ski lift:</strong> Another term for chairlift.</li>
        <li><strong</>Ski touring:</strong> A form of skiing where both uphill and downhill travel is possible without needing to remove skis. The skis, bindings, and boots allow for free movement of the heel enabling someone to move at a walking pace.</li>
        <li><strong</>Ski bum:</strong> Someone who practically lives at the mountain and spends all of their time there.</li>
        <li><strong</>Skins:</strong> Used in Ski touring and Uphilling, adhesive backed strips of fabric that stick to your skis or splitboard and have tiny rearward-facing directional hairs to let you slide forward without slipping back.</li>
        <li><strong</>Slalom:</strong> An alpine ski racing discipline where skiers navigate a course with tightly spaced gates, requiring quick turns and precise control.</li>
        <li><strong</>Sleeper powder day:</strong> A powder day that was not predicted.</li>
        <li><strong</>Slopeside:</strong> Lodging on the slopes or right at the base of the mountain.</li>
        <li><strong</>Slopestyle:</strong> A freestyle discipline in which skiers or snowboarders ride down a course with a variety of obstacles including rails, jumps and other terrain park features.</li>
        <li><strong</>Slush:</strong> Melted, wet snow prevalent during spring skiing and riding.</li>
        <li><strong</>Slough:</strong> Loose snow that slides down after a turn, common in steep terrain.</li>
        <li><strong</>Snorkeling:</strong> When the powder is so deep, it runs up the body and blurs a skier or snowboarder's vision. This is what powder skiers and riders live for.</li>
        <li><strong</>Snowcat:</strong> Another name for a snow groomer.</li>
        <li><strong</>Snowplow:</strong> A braking maneuver whereby skiers move their ski tips to form a triangular shape, also referred to as a wedge or pizza.</li>
        <li><strong</>Speed check:</strong> A quick turn to help reduce speed. This is typically used when approaching a terrain park feature or an obstacle. </li>
        <li><strong</>Steeze or Steezy:</strong> a snowboarding and skiing slang term that refers to style and ease, especially when it comes to riding, looking cool and making tricks look effortless. </li>
        <li><strong</>Stem christie:</strong> A basic turn begun with a wedge and completed by skidding on both uphill ski edges until your skis are parallel. Similar to a “wedge christie”. </li>
        <li><strong</>Stoke:</strong> A slang term often used to describe a state of high energy, excitement and passion for the sport. "I'm so stoked for this powder day!" means the person is really excited about the conditions or the opportunity to ride.</li>
        <li><strong</>Stomp:</strong> To land something flawlessly. </li>
        <li><strong</>Summit:</strong> The top of the mountain. </li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-summit.jpg" alt="The view from the summit of Jay Peak, VT" />

        <li><strong</>Summit beers:</strong> Drinks enjoyed at the top of a mountain by skiers and snowboarders while enjoying the view.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-summit-beers.jpg" alt="xxxTwo drinks with the view from the K1 summit bar at Killington Mountain Resort, VT />

        <li><strong</>Super G:</strong> An alpine ski racing event that combines elements of both downhill and giant slalom. It involves high-speed racing on a course with wider turns than in slalom but tighter turns than in downhill. </li>
        <li><strong</>Switch:</strong> In snowboarding, this refers to riding with the opposite foot forward from the rider's natural stance. In skiing, this would mean going backward.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">T</h2>
      <ul class="mountain-life-list">
        <li><strong</>Taco:</strong> A fall where your body is draped in half over a rail or box, making the shape of a taco shell.
        <br/> Not to be confused with "<a href="https://snowbrains.com/free-tacos-ski-run-at-taos-ski-valley-nm-renamed-in-honor-of-two-free-taos-movement-pioneers1/" target="_blank">Free Tacos</a>" fame, where local hero's George Medina and Michael Johnstone brought snowboarding to Taos.
        
        </li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/free-tacos.png" alt="Free Tacos at Taos Ski Valley, photo courtesy of PressReader" />
        

        <li><strong</>T-Bar:</strong> A lift with a T-shaped handle where skiers and snowboarders keep their feet on the snow while they are pulled uphill.</li>
        <li><strong</>Telemark skiing:</strong> A skiing discipline where the heel of the ski is not fixed, which requires a different technique from alpine skiing.</li>
        <li><strong</>Terrain park:</strong> A maintained area with a variety of jumps, half-pipes, rails and other obstacles.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-terrain-park.jpg" alt="View of a ski and snowboard terrain park" />

        <li><strong</>Thin cover:</strong> areas of the ski slope where there is a thin layer of snow, often revealing patches of grass, rocks, or other obstacles.</li>
        <li><strong</>Toe drag:</strong> When the toes of your boot hang over the toeside edge of your board and catch the snow when turning.</li>
        <li><strong</>Tomahawk:</strong> Falling and flipping end over end.</li>
        <li><strong</>Topsheet:</strong> The top layer of a snowboard or skis, providing durability, cool graphics, and sometimes added performance benefits.</li>
        <li><strong</>Tracked out:</strong> An area that has already been ridden where you can’t create any new lines. </li>
        <li><strong</>Train:</strong> A group of skiers or riders going over a jump or feature in quick succession.</li>
        <li><strong</>Tram:</strong> Also known as aerial tramway or cable car, a tram is an aerial lift that transports skiers and riders up the mountain in a contained cab on a cable.</li>
        <img class="section-image" src="/assets/images/mountain-life/culture/slang/skiing-snowboard-tram.jpg" alt="The Jay Peak tram passing overhead" />
        <li><strong</>Traversing:</strong> Moving horizontally across a slope.</li>
        <li><strong</>Tree well:</strong> Hollow space around the base of a tree that forms due to the snow falling around the tree branches.</li>
        <li><strong</>Trench:</strong> Deep, aggressive carves in the snow.</li>
        <li><strong</>Triple lift:</strong> A chairlift carrying three people.</li>
        <li><strong</>Tweak:</strong> A grab where the skier or rider exaggerates the movement for extra style.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">U</h2>
      <ul class="mountain-life-list">
        <li><strong</>Ullr:</strong> In Norse mythology, Ullr is the god of snow, skiing, and snow sports. He is also known as the patron saint of skiers.        </li>
        <li><strong</>Unweighting:</strong> Taking weight off the ski, usually prior to a turn.</li>
        <li><strong</>Uphilling:</strong>  “Skinning” up the mountain instead of taking a chairlift.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">V</h2>
      <ul class="mountain-life-list">
        <li><strong</>Valley out:</strong> This is when you ski or snowboard into an area that you can’t ride out of and need to hike.</li>
        <li><strong</>Vertical drop:</strong> The vertical distance from the top of the mountain to the bottom. </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">W</h2>
      <ul class="mountain-life-list">
        <li><strong</>Washboard:</strong> A series of small, firm ridges on a run, making for a bumpy ride.</li>
        <li><strong</>Whales:</strong> A term used for the giant mounds of snow produced during snowmaking operations. </li>
        <li><strong</>Whiteout:</strong> Limited visibility due to heavy snow, fog or flat light.</li>
        <li><strong</>White ribbon of death:</strong> A slang term used to describe a narrow strip of snow surrounded by bare ground. These early and late season runs are often crowded and offer limited terrain with varying conditions, making them potentially hazardous for skiers and riders.</li>
        <li><strong</>White room:</strong> A situation where a skier or snowboarder's vision is completely obscured by a large amount of fresh powder being kicked up by their skis or board.</li>
        <li><strong</>Wind blown:</strong> Snow condition created by high winds causing uneven patches of powder that can be lighter and fluffier in some areas, while forming hard-packed drifts and ice in others.</li>
        <li><strong</>Wind hold:</strong> When lifts shut down due to high winds.</li>
        <li><strong</>World Cup:</strong> International races for all disciplines including alpine, cross-country, ski jumping, freestyle skiing and snowboarding and more.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">X</h2>
      <ul class="mountain-life-list">
        <li><strong</>XC:</strong> An abbreviation of Cross-country skiing</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">Y</h2>
      <ul class="mountain-life-list">
        <li><strong</>Yard sale:</strong> A major fall resulting in the skier or snowboarder’s clothes or equipment flying all over the hill.</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="block">
      <h2 class="inline-title margin-top-20">Z</h2>
      <ul class="mountain-life-list">
        <li><strong</>Zipper line:</strong> The straightest, most aggressive line down a mogul run.</li>
        <li><strong</>Zig zag:</strong> Traversing across a slope in a “z” formation.</li>
      </ul>
    </div>
  </section>
  


  <section>
      <div class="publisher publisher-bottom">
        <div class="author">
          SnoCountry.com | By Josh Petit
        </div>
        <div class="publish-date">
        Published Apr 16, 2025 at 2:15 pm 
        </div>
      </div>
    </section>
  
    
  </div>