---
layout: news-post.njk
---

<div id="news-post" class="post">
  <div class="post-panel">
    <h1 id="title" class="title"> Title goes here</h1>
    <div class="intro">Intro</div>
    
  </div>
</div>