---
layout: generic-page.njk
---
<<style>
  #news-post {
    padding-bottom: 25px;
  }
  .simple-header {
    margin-bottom:10px;
    font-weight: 600;
  }
</style>
<div id="generic-container" class="post">
  <div class="generic-panel">
    <h1 id="title" class="title">Privacy Policy/Terms</h1>
    <p class="copy">
    SnoCountry recognizes that many skiers who visit this Web site are concerned about how information they provide on-line is maintained and used by SnoCountry. To address these concerns and to demonstrate our firm commitment to privacy, especially for children who visit this site, we have developed and implemented this privacy policy to disclose SnoCountry's information gathering and dissemination practices for this Web site. As these practices may change from time to time, you are encouraged to periodically review our privacy policy. </p>
    <div class="simple-header">WHAT INFORMATION DO WE COLLECT?</div>
    <p class="copy">SnoCountry only collects personally identifiable information that is voluntarily submitted to us. We never require that personally identifiable information be provided in order to gain access to this Web site. When such information is requested, you will be told the purpose for which such information is to be used.</p>
    <p class="copy">From time-to-time, we may also ask for information from visitors via surveys, polls or contests. Participation in these surveys, polls or contests is completely voluntary. You have the choice of whether or not to disclose your personal information. We will not require you to disclose more information than is reasonably necessary to participate in the activity on the Web site as a condition of such participation.</p>
    <p class="copy">Information requested concerning surveys, polls or contests may include contact information (such as name, e-mail and shipping addresses), and demographic information (such as zip code and age level). Contact information will be used to notify winners and award prizes. Survey or poll information may be used for purposes of monitoring or improving the use and satisfaction of this site, or the programs offered by SnoCountry or any of its member ski areas. Information gathered from polls and surveys are only for internal use of SnoCountry or its member ski areas. If sample answers to polls or surveys are posted on the Web site, then no identifiable information is ever included.</p>
    <p class="copy">As with most Web sites, certain non-personally identifiable information is recorded by the standard operation of our server. Such information may include: the name of the ISP from which a visitor accesses the Internet, the date and time a visitor accessed our Web site, the Internet address of the Web site from which a visitor entered our Web site, and where a visitor goes after leaving our Web site. Again, information that would personally identify a visitor is known only when it is voluntarily submitted.</p>
    
    <div class="simple-header">How do we use the INFORMATION?</div>
    <p class="copy">We do not share any personally identifiable information about our visitors with anyone outside of SnoCountry or its member ski areas. We may use this information to notify you occasionally of important functionality changes on the Web site, services, and special offers or information we or our member ski areas think you will find valuable. We may also use personally identifiable information for internal site administration purposes, to respond to specific inquiries initiated by visitors, and to comply in good faith with a law or legal action as directed by a court, regulatory agency or other entity acting with governmental authority.</p>
    <p class="copy">The non-personally identifiable information we collect when you use this Web site may be used for internal review purposes in the aggregate, to measure and monitor the use of our Web site and to improve its content. For example, we may use your IP address to help diagnose problems with our server, and to administer our Web site. Your IP address also may be used to gather broad demographic information. There also may be times when we share aggregate information about our visitors (for example, the percentage of male and female visitors to our Web site) with advertisers, business partners, sponsors, and other third parties in an effort to customize or enhance the content and advertising on our Web site for our visitors.</p>

    <div class="simple-header">WHAT SECURITY MEASURES ARE USED TO PROTECT MY INFORMATION?</div>
    <p class="copy">SnoCountry employs appropriate security measures to protect the loss, misuse and alteration of the information under our control. However, as no on-line data transmission can be guaranteed to be 100% secure, we cannot warrant or guarantee the security of any information you transmit to us at our Web site. If you have questions about the security of information at this Web site, contact us at info@snocountry.com.</p>

    <div class="simple-header">PARENTAL CONSENT POLICY</div>
    <p class="copy">Children's Privacy - SnoCountry is committed to protecting the on-line privacy of children. Therefore, in accordance with the Children's Online Privacy Protection Act, we will not knowingly collect any personally identifiable information from children under the age of 13 without first obtaining parental consent.</p>
    <p class="copy">Children Under the Age of 13: Important Notice Prior to providing any personally identifiable information by participating in any activity offered through our Web site, children under the age of 13 must have a "Parent" or "Legal Guardian" complete and return a Parental Consent Form. This consent form states that the "Parent" or "Legal Guardian" may revoke the consent by completing the Revocation of Parental Consent Form and sending it to the same address or fax number.</p>
    <p class="copy">In the event children under the age of 13 are eligible, with parental consent, to participate in surveys or contests or other activities offered through our Web site, we will only collect and use information (e.g., e-mail address, mailing address, name, age) to the extent that it is necessary to administer the activity. We will never require that a child disclose more information than is necessary to participate in an activity as a condition of participation.</p>
    <p class="copy">We will not disclose information collected from children under the age of 13 to third parties.</p>
    <p class="copy">We encourage parents to monitor and supervise the on-line activities of their children and to consider using parental control tools available from on-line services and software manufacturers that help guarantee a child-friendly on-line environment. These tools help prevent children from disclosing their name, address, and other personal information without parental permission.</p>

    <div class="simple-header">WHAT ABOUT THE LINKS TO OTHER WEB SITES?</div>
    <p class="copy">You have probably noticed that our Web site contains links to other Web sites on the Internet. Note that Web sites and addresses change quickly, and SnoCountry cannot always guarantee the content of every Web site for which we provide a link. Nor is SnoCountry responsible for the privacy policies or content of those other Web sites. This includes links from advertisers, sponsors, and partners. These other sites may send their own cookies to guests, collect data or solicit personal information. We encourage you to be aware when you leave our Web site, and to read the privacy policy of each and every Web site that collects personally identifiable information.</p>
    
    <div class="simple-header">HOW DO I CONTACT SnoCountry?</div>
    <p class="copy">If you have any questions about this privacy policy, the practices of this Web site, or your experiences with this Web site, you should <a href="/contact-us/">contact us.</a> You may also change any information previously provided to us. We will respond or fulfill your request as soon as possible.</p>
  </div>
</div>