---
permalink: _redirects
---

{%- for resort in lists %}
  {%- if resort.entryType == "state" %}
/snow-reports/us/{{ resort.stateName }}/ /snow-report/{{resort.stateName}}/ 301
  {%- elseif resort.entryType == "region" %}
/snow-reports/us/{{ resort.stateNameProperLowerCase | replace(" ","") }}/ /snow-report/{{resort.stateName}}/ 301
  {%- endif %}
{%- endfor %}

{%- for resort in redirects %}
  {%- if resort.stateNameAbbr != "empty" %}
/resort-page/{{ resort.stateNameAbbr }}/{{ resort.resortNameProperLowerCase }}/ /snow-report/{{ resort.stateNameLowerCase }}/{{ resort.resortNameLowerCase }}/ 301
  {%- endif %}
{%- endfor %}

/resort-page/co/arapahoebasin  /snow-report/colorado/arapahoe-basin 301
/resort-page/pa/bluemountain   /snow-report/pennsylvania/blue-mountain-resort/ 301
/snow-report/north-carolina/wolf-ridge-ski-resort /snow-report/north-carolina/hatley-pointe
/snow-report/new-york/windham-mountain-resort /snow-report/new-york/windham-mountain-club
/snow-report/new-york/windham-mountain /snow-report/new-york/windham-mountain-club
/index.php / 301
/dealupload https://snow-report.org
/snow-reports-by-region / 302
/powder-finder / 302
/ski-deals/lift-ticket-deals / 301
/gear/gear-left/alpine-equipment / 301
/snow-reports/us/northeast/connecticut /snow-report/connecticut/ 301
/snow-reports/us/northeast/maine /snow-report/maine/ 301
/snow-reports/us/northeast/massachusetts /snow-report/massachusetts/ 301
/snow-reports/us/northeast/new-hampshire /snow-report/new-hampshire/ 301
/snow-reports/us/northeast/new-york /snow-report/new-york/ 301
/snow-reports/us/northeast/rhode-island /snow-report/rhode-island/ 301
/snow-reports/us/northeast/vermont /snow-report/vermont/ 301
/snow-report/wyoming/antelope-butte/ /snow-report/wyoming/antelope_butte_mountain_recreation_area/
/snow-report/iowa/mt-crescent-ski-area/ /snow-report/iowa/crescent-hill-at-hitchcock/
/snow-report/new-york/buffalo-ski-club/ /snow-report/new-york/buffalo-ski-center/
/news-post/*  /article/  200!