---
permalink: _redirects
---

{%- for resort in lists %}
  {%- if resort.entryType == "state" %}
/snow-reports/us/{{ resort.stateName }}/ /snow-report/{{resort.stateName}}/ 301
  {%- elseif resort.entryType == "region" %}
/snow-reports/us/{{ resort.stateNameProperLowerCase | replace(" ","") }}/ /snow-report/{{resort.stateName}}/ 301
  {%- endif %}
{%- endfor %}

{%- for resort in redirects %}
  {%- if resort.stateNameAbbr != "empty" %}
/resort-page/{{ resort.stateNameAbbr }}/{{ resort.resortNameProperLowerCase }}/ /snow-report/{{ resort.stateNameLowerCase }}/{{ resort.resortNameLowerCase }}/ 301
  {%- endif %}
{%- endfor %}

/resort-page/co/arapahoebasin  /snow-report/colorado/arapahoe-basin 301
/resort-page/pa/bluemountain   /snow-report/pennsylvania/blue-mountain-resort/ 301
/index.php / 301
/dealupload https://snow-report.org
/snow-reports-by-region / 302
/powder-finder / 302
/ski-deals/lift-ticket-deals / 301
/gear/gear-left/alpine-equipment / 301