---
layout: base-snow-report.njk
pagination: 
  data: resorts
  size: 1
  alias: resorts
permalink: /snow-report/{{ resorts.stateName }}/index.html
---

<main class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">

  <!-- Resort Ad will get inserted here -->
  <!-- Breadcrumb Navigation -->
  <div id="breadcrumb-navigation" class="p-1 mb-4">
    <div class="max-w-7xl mx-auto">
      <div class="flex flex-col sm:flex-row sm:items-center gap-3 py-2 overflow-x-auto">
        <div class="flex  items-center gap-2 text-gray-700 font-bold whitespace-nowrap">
          <a id="breadcrumb-navigation-home" href="https://snocountry.com" class="text-base sm:text-xl hover:text-breadcrumbpill ">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5">
              <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              <polyline points="9 22 9 12 15 12 15 22"></polyline>
            </svg>
          </a>
          <a id="breadcrumb-navigation-region" href="{{ resorts.resortRegion.link }}" class="text-base sm:text-xl hover:text-breadcrumbpill ">{{ resorts.resortRegion.abbrName }} </a>
        </div>
        <div id="breadcrumb-navigation-links" class="flex items-center gap-1 sm:gap-2 sm:gap-3 flex-wrap">

          {% for iterBreadCrumb in resorts.breadCrumbList %}
            <a href="{{ iterBreadCrumb.link }}" class="px-3 py-[5px] text-sm sm:text-base font-bold text-gray-700 bg-white rounded-md hover:bg-breadcrumbpill hover:text-white transition-colors duration-200 shadow-sm {{ iterBreadCrumb.active }}">{{ iterBreadCrumb.abbrName }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- end of Breadcrumb Navigation -->
  
  <!-- ---------------------------------------------------------------Resort Header --------------------------------------------------------------- -->
  
  <div id="resort-header" class="z-0 sm:min-h-[100px] py-4 sm:p-6 mb-6 rounded-lg shadow-md bg-background border relative group">
    <div class="grid grid-cols-1 sm:grid-cols-[auto_1fr] items-center gap-4 items-center gap-4 relative">
      <div id="resort-header-logo" class="contents">
        <div class="w-32 h-16 bg-gray-200 rounded mb-2"></div>
      </div>
      <h1 id="resort-header-title" class="resort-name md:w-full  text-center text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold text-gray-800  ">
        <div class="h-12 bg-sky-200 rounded w-3/4 inline-block"></div>
      </h1> 
    </div>
    <div id="member-resort" class="hidden flex justify-between absolute -top-3 right-3 bg-gradient-to-r from-sky-500 to-blue-500 shadow-sky-500 text-xs font-bold rounded-full px-3 py-1 md:py-1.5 text-white shadow-md  animate-pulse-slow font-sans" style="transition: outline 0.1s ease-in-out;">
      <div class="mr-1">Member Resort</div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="snowflake" class="lucide lucide-snowflake h-4 w-4">
        <path d="m10 20-1.25-2.5L6 18"></path>
        <path d="M10 4 8.75 6.5 6 6"></path>
        <path d="m14 20 1.25-2.5L18 18"></path>
        <path d="m14 4 1.25 2.5L18 6"></path>
        <path d="m17 21-3-6h-4"></path>
        <path d="m17 3-3 6 1.5 3"></path>
        <path d="M2 12h6.5L10 9"></path>
        <path d="m20 10-1.5 2 1.5 2"></path>
        <path d="M22 12h-6.5L14 15"></path>
        <path d="m4 10 1.5 2L4 14"></path>
        <path d="m7 21 3-6-1.5-3"></path>
        <path d="m7 3 3 6h4"></path>
      </svg>
    </div>
  
    <!-- <div class="absolute inset-0 bg-gradient-to-br from-sky-500/10 to-blue-500/10 rounded-lg opacity-0 group-hover:opacity-100 transition-all duration-500"></div> -->
  </div>

  <!-- ---------------------------------------------------------------Snow Report --------------------------------------------------------------- -->
  <div id="snow-report" class="grid grid-cols-1 lg:grid-cols-5 gap-6">
    <!-- Left Column -->
    <div id="left-column" class="lg:col-span-3 space-y-6">

      
      
      <!-- Trail Map -->
      <div id="card-trailmap" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
      
        <div id="resort-trailmap" class="contents">
          <h2 id="trailmap-header" class="hidden resort-name text-xl font-bold text-gray-800 mb-4 group-hover:text-sky-700 group-hover:font-bold"> Trail Map</h2>
          <div id="trailmap-container" class="hidden aspect-square  rounded-lg flex items-center justify-center">
            <img id="trailMapDesktop" src="https://snocountry.com/assets/images/resorts/trail-maps/{{ resorts.snowreport }}.jpg" alt="{{ resorts.stateNameProper }} Trail Map" class="w-full h-full object-cover shadow-lg cursor-pointer rounded-xl">
          </div>
          <div class="delete-me aspect-square bg-gray-200 rounded-lg flex items-center justify-center">
            <div class="text-gray-500">
              <svg class="w-16 h-16 mx-auto mb-2" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2L2 12h3v8h6v-6h2v6h6v-8h3L12 2z"></path>
              </svg>
              <p class="text-center">Trail Map</p>
            </div>
          </div>
        </div>
      
      </div>
        

      <!-- Resort Information --> 
      <div id="card-blurb" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
        <div class="absolute inset-0 bg-gradient-to-br from-sky-500/5 to-transparent rounded-lg opacity-0 group-hover:opacity-100 transition-all duration-300"></div>
  
        <div class="flex justify-between ">  
          <h2 id="resort-blurb-title" class="w-full resort-name text2-xl sm:text-3xl font-bold text-gray-800 group-hover:text-sky-700 group-hover:font-bold"><div class="h-4 bg-red-200 rounded w-3/4 inline-block"></div></h2>
        </div>
        <div class="space-y-3">
          <p  class="blurb px-3">
            <div id="resort-blurb" class="space-y-3 pt-3">
                <div class="h-4 bg-gray-200 rounded animate-pulse"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-3/4"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-1/2"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-5/6"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-3/4"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-1/2"></div>
            </div>
          </p>
        </div>
  
      </div>
  
      <!-- News, Events and Deals -->
      <div id="card-comments" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
  
        <div class="absolute inset-0 bg-gradient-to-br from-sky-500/5 to-transparent rounded-lg opacity-0 group-hover:opacity-100 transition-all duration-300"></div>
  
        <h2 class="text-xl font-bold text-gray-800 mb-4 group-hover:text-sky-700 group-hover:font-bold">News, Events and Deals</h2>
        <div id="resort-comments" class="space-y-3">
  
  
          <div class="space-y-3">
                <div class="h-4 bg-gray-200 rounded animate-pulse"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-3/4"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-1/2"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-5/6"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-3/4"></div>
                <div class="h-4 bg-gray-200 rounded animate-pulse w-1/2"></div>
            </div>
  
        </div>
      </div>
  
      <!-- Weather Forecast -->
      <div id="card-weather" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
        <div class="absolute inset-0 bg-gradient-to-br from-sky-500/5 to-transparent rounded-lg opacity-0 group-hover:opacity-100 transition-all duration-300"></div>
  
        <h2 class="text-xl font-bold text-gray-800 mb-4 group-hover:text-sky-700 group-hover:font-bold">Weather Forecast</h2>
        <div id="resort-weather-forecast" class="grid grid-cols-2 md:grid-cols-5 gap-4">
          <div class="text-center">
            <h3 class="font-semibold text-sm">Today</h3>
            <div class="my-2">☀️</div>
            <p class="text-xs">Partly Cloudyx</p>
            <p class="text-xs text-red-500">High: --</p>
            <p class="text-xs text-blue-500">Low: --</p>
          </div>
          <div class="text-center">
            <h3 class="font-semibold text-sm">--</h3>
            <div class="my-2">☁️</div>
            <p class="text-xs">Cloudy</p>
            <p class="text-xs text-red-500">High: --</p>
            <p class="text-xs text-blue-500">Low: --</p>
          </div>
          <div class="text-center">
            <h3 class="font-semibold text-sm">--</h3>
            <div class="my-2">⛅</div>
            <p class="text-xs">Partly Sunny</p>
            <p class="text-xs text-red-500">High: 85</p>
            <p class="text-xs text-blue-500">Low: 70</p>
          </div>
          <div class="text-center">
            <h3 class="font-semibold text-sm">--</h3>
            <div class="my-2">☁️</div>
            <p class="text-xs">Cloudy</p>
            <p class="text-xs text-red-500">High: --</p>
            <p class="text-xs text-blue-500">Low: --</p>
          </div>
          <div class="text-center">
            <h3 class="font-semibold text-sm">--</h3>
            <div class="my-2">☀️</div>
            <p class="text-xs">Partly Cloudy</p>
            <p class="text-xs text-red-500">High: --</p>
            <p class="text-xs text-blue-500">Low: --</p>
          </div>
        </div>
      </div>
  

  
      <!-- Archive -->
      <div id="card-archive" class="sno-class mx-auto flex flex-col items-center gap-6">
        <!-- Base Depth Chart Card -->
        <div id="base-depth-chart-container" class="bg-gradient-to-br chart-card from-sky-200 p-6 rounded-lg shadow-lg shadow-slate-400 to-sky-50 via-sky-100">
          <div class="flex justify-between items-center gap-2 mb-2">
            <div class="flex-1 flex flex-col gap-1">
              <input type="range" id="sliderBaseDepth" min="0" max="100" value="0" class="flex-1 cursor-pointer">
              <div id="ticksBaseDepth" class="slider-ticks"></div>
            </div>
            <div class="flex gap-2">
              <button id="playBaseDepth" class="bg-gradient-to-r from-midnight-900 to-midnight-700 hover:scale-105 px-3 py-1 rounded text-sm text-white">Play</button>
              <button id="pauseBaseDepth" class="bg-gradient-to-r from-midnight-500 to-midnight-300 hover:scale-105 px-3 py-1 rounded text-sm text-white">Pause</button>
            </div>
          </div>
          <div id="baseDepthRace" style="width: 100%; height: calc(100% - 40px);"></div>
        </div>
      
        <!-- Trails Chart Card -->
        <div id="trails-chart-container" class="bg-gradient-to-br chart-card from-sky-200 p-6 rounded-lg shadow-lg shadow-slate-400 to-sky-50 via-sky-100">
          <div class="flex justify-between items-center gap-2 mb-2">
            <div class="flex-1 flex flex-col gap-1">
              <input type="range" id="sliderTrails" min="0" max="100" value="0" class="flex-1 cursor-pointer">
              <div id="ticksTrails" class="slider-ticks"></div>
            </div>
            <div class="flex gap-2">
              <button id="playTrails" class="bg-gradient-to-r from-midnight-900 to-midnight-700 hover:scale-105 px-3 py-1 rounded text-sm text-white">Play</button>
              <button id="pauseTrails" class="bg-gradient-to-r from-midnight-500 to-midnight-300  hover:scale-105 px-3 py-1 rounded text-sm text-white">Pause</button>
            </div>
          </div>
          <div id="trailsRace" style="width: 100%; height: calc(100% - 40px);"></div>
        </div>
      </div><!-- card archive -->
      <!-- Video Player -->
      <div id="card-video" class="sno-class rounded-lg shadow-md p-6 bg-background border hidden">
        <h2 id="resort-asset-header" class="hidden resort-name text-xl font-bold text-gray-800 mb-4 group-hover:text-sky-700 group-hover:font-bold"> Trail Map</h2>
        <div id="resort-asset" class="aspect-video bg-gray-200 rounded-lg flex items-center justify-center mb-4">
          <button class="bg-gray-600 text-white rounded-full p-4 hover:bg-gray-700">
              <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M8 5v14l11-7z"></path>
              </svg>
          </button>  
        </div>
      </div>
    </div><!-- left  columns -->
  
    <!-- ---------------------------------------------------------------Right Column --------------------------------------------------------------- -->
    <div id="right-column" class="space-y-6 lg:col-span-2">
  
  
      <!-- Trails and Lifts <div class="p-6 bg-white rounded-lg bg-background border shadow-md relative group hover:scale-[1.02] hover:shadow-sky-500/5 hover:shadow-emerald-100 hover:shadow-xl transition-all duration-300"> -->
      <div id="card-trails-lifts" class="sno-class p-6  bg-white rounded-lg  bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
        <div class="grid grid-cols-2 gap-4 mb-6">
          <div class="bg-white rounded-xl shadow-lg text-center">
            <h2 class="mb-2  font-bold text-gray-800  text-xl group-hover:text-sky-700 transition-all duration-300">Trails Open</h2>
            <!-- <div class="rounded-3xl bg-white/30 backdrop-blur-xl border border-white/20 p-6 flex items-center justify-center shadow-xl translate-y-4 transition-all duration-700 ease-out" style="animation: slideIn 0.7s ease-out 0.8s forwards;"> -->
            <div id="donutTrails" class="  p-6 flex items-center justify-center  transition-all duration-700 ease-out" style="animation: slideIn 0.7s ease-out 0.8s forwards;">
              <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            </div>
          </div>
          <div class="bg-white rounded-xl shadow-lg text-center">
            <h2 class="mb-2 font-bold text-gray-800  text-xl group-hover:text-sky-700 transition-all duration-300">Lifts Open</h2>
            <div id="donutLifts" class="  p-6 flex items-center justify-center  transition-all duration-700 ease-out" style="animation: slideIn 0.7s ease-out 0.8s forwards;">
              <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            </div>
          </div>
        </div>
        <div id="resort-reportDateTime" class=" text-center text-sm font-bold text-slate-800 mt-2 group-hover:text-sky-700 transition-all duration-300">
          <div class="h-2 bg-gray-200 rounded w-3/4 inline-block">
          </div>
        </div>
      </div>
  
      <!-- Recent Snowfall -->
      <div id="card-snowfall" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
        <div class="absolute inset-0 bg-gradient-to-br from-sky-500/5 to-transparent rounded-lg opacity-0 group-hover:opacity-100 transition-all duration-300"></div>
  
        <h2 class="text-xl font-bold text-gray-800 mb-4 group-hover:text-sky-700 group-hover:font-bold">Recent Snowfall</h2>
        <div class="grid grid-cols-2 gap-4 text-sm">
          <div>
            <p class="font-bold ">Past 24 Hours</p>
            <div id="snowfall-past24Hours" class="inline-block text-lg group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
            <p class="font-bold mt-2">Snow Comments</p>
            <div id="resort-snowfall-snowComments" class="inline-block text-lg group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
          </div>
          <div>
            <p class="font-bold">Past 48 Hours</p>
            <div id="resort-snowfall-past48Hours" class="inline-block text-lg group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
            <p class="font-bold mt-2">Season Total</p>
            <div id="resort-snowfall-seasonTotal" class="inline-block text-lg group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
          </div>
        </div>
  
      </div>
  
      <!-- Snow Conditions -->
      <div id="card-conditions" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
        <div class="absolute inset-0 bg-gradient-to-br from-sky-500/5 to-transparent rounded-lg opacity-0 group-hover:opacity-100 transition-all duration-300"></div>
        <div class="flex justify-between">
          <h2 class="text-xl font-bold text-gray-800 mb-4 group-hover:text-sky-700 group-hover:font-bold">Snow Conditions</h2>
        </div>
        <div class="space-y-3 text-sm">

          <div class="grid grid-cols-3 gap-4">
            <div>
              <p class="font-bold">Primary Surface</p>
              <div id="resort-primarySurface" class="inline-block group-hover:text-sky-700 group-hover:font-bold transition-all duration-300 text-lg"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
            </div>
            <div>
              <p class="font-bold">Secondary Surface</p>
              <div id="resort-secondarySurfaceCondition" class="inline-block group-hover:text-sky-700 group-hover:font-bold transition-all duration-300 text-lg"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
            </div>
            <div>
              <p class="font-bold">Base Depth</p>
              <div id="resort-baseDepth" class="inline-block group-hover:text-sky-700 group-hover:font-bold transition-all duration-300 text-lg"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
            </div>

          </div>
        </div>
      </div>
  
      <!-- Hours-Status -->
      <div id="card-hours" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
        <div class="absolute inset-0 bg-gradient-to-br from-sky-500/5 to-transparent rounded-lg opacity-0 group-hover:opacity-100 transition-all duration-300"></div>
  
        <h2 class="text-xl font-bold text-gray-800 mb-4 group-hover:text-sky-700 group-hover:font-bold inline mr-2 ">Status:</h2>
        <div id="resort-operatingStatus" class="inline-block text-lg text-sky-600 mb-2 group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
        <div class="text-md">
          <p class="font-bold text-lg">Hours:</p>
          <p class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300">
            <div class="font-bold inline-block">Weekend:</div>
            <div id="resort-weekendHours" class="inline-block group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
          </p>
          <p class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300">
            <div class="font-bold inline-block">Weekdays:</div>
            <div id="resort-weekdayHours" class="inline-block group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
          </p>
          <p class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300 text-md">
            <div class="font-bold inline-block">Special:</div>
            <div id="resort-SpecialHours" class="inline-block group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
          </p>
          
        </div>
      </div>
  
      <!-- Resort Stats -->
      <div id="card-stats" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
        <div class="absolute inset-0 bg-gradient-to-br from-sky-500/5 to-transparent rounded-lg opacity-0 group-hover:opacity-100 transition-all duration-300"></div>
  
        <h2 class="text-xl font-bold text-gray-800 mb-4 group-hover:text-sky-700 group-hover:font-bold">Resort Stats</h2>
        <div class="grid grid-cols-2 gap-4 text-md">
          <div>
          <!--
            <p>
              <div class="font-bold">Average Snowfall:</div>
              <div id="resort-averageSnowfall" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
            </p>
            -->
              <div class="font-bold">Summit Elevation:</div>
              <div id="resort-liftElevation" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
              <div class="font-bold">Base Elevation:</div>
              <div id="resort-baseElevation" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
              <div class="font-bold">Vertical Drop:</div>
              <div id="resort-verticalDrop" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
          </div>
          <div>
            <p>
              <div class="font-bold">Skiable Acres:</div>
              <div id="resort-maxOpenDownHillAcres" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
            </p>
            <p>
              <div class="font-bold">Total Trails:</div>
              <div id="resort-maxOpenDownHillTrails" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
            </p>
            <p>
              <div class="font-bold">Total Chairlifts:</div>
              <div id="resort-maxOpenDownHillLifts" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300"><div class="h-2 bg-gray-200 rounded w-3/4"></div></div>
            </p>
          </div>
        </div>
      </div>
  
      <!-- Resort Information -->
      <div id="card-info" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl hover:bg-gradient-to-br hover:from-sky-500/5 hover:to-transparent">
  
        <h2 class="text-xl font-bold text-gray-800 mb-4 group-hover:text-sky-700 group-hover:font-bold">Resort Information</h2>
        <div class="grid grid-cols-1 gap-4 text-md">
          <div class="contents">
  
            <div class="">
              <span class="font-bold">Website:</span>
              <span id="resort-webSiteLinksite" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300">
                <a href="#" class="group-hover:font-bold transition-all duration-300 hover:underline hover:text-sky-700" target="_blank"><div class="remove-me h-2 bg-gray-200 rounded w-3/4 inline-block"></div></a>
              </span>
            </div>
            <div class=" ">
              <span class="font-bold">Address:</span>
              <span id="resort-address" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300">
                <a class="group-hover:font-bold transition-all duration-300 hover:underline hover:text-sky-700" href="#" target="_blank"><div class="remove-me h-2 bg-gray-200 rounded w-3/4 inline-block"></div></a>
              </span>
            </div>
            <div class="">
              <span class="font-bold">Phone:</span>
              <span id="resort-phone" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300">
                <a href="#" class="group-hover:font-bold transition-all duration-300 hover:underline hover:text-sky-700"><div class="remove-me h-2 bg-gray-200 rounded w-3/4 inline-block"></div></a>
              </span>
            </div>
            <div class=" ">
              <span class="font-bold">Email:</span>
              <span id="resort-email" class="group-hover:text-sky-700 group-hover:font-bold transition-all duration-300">
                <a class="group-hover:font-bold transition-all duration-300 hover:underline hover:text-sky-700" href="#"><div class="remove-me h-2 bg-gray-200 rounded w-3/4 inline-block"></div></a>
              </span>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Kayak example -->
      <div id="card-affiliate" class="hidden sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
        <div class="absolute inset-0 bg-gradient-to-br from-sky-500/5 to-transparent rounded-lg opacity-0 group-hover:opacity-100 transition-all duration-300"></div>
          <div class="w-sm h-[300px] bg-gray-200 rounded mb-2"></div>
  
        
      </div>
  
      <!-- Recent SnoNews <div id="card-snonews" class="sno-class rounded-lg shadow-md p-6 bg-gradient-to-br from-sky-400/10 to-transparent shadow-md"> -->
      <div id="card-snonews" class="sno-class bg-white rounded-lg p-6 bg-background border shadow-md hover:scale-[1.01] transition-transform duration-300 relative group hover:shadow-sky-200 hover:shadow-xl">
        <h2 class="text-lg font-bold text-gray-800 mb-4">Recent SnoNews</h2>
        <div id="sno-news-container" class="grid grid-cols-2 gap-3">
          <div class="w-[188px] h-[256px] border border-gray-200 duration-500 group hover:-translate-y-1 hover:scale-[1.01] p-3 rounded">
            <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            <div class="space-y-1">
                <div class="h-2 bg-gray-200 rounded"></div>
                <div class="h-2 bg-gray-200 rounded w-3/4"></div>
            </div>
          </div>
          <div class="w-[188px] h-[256px] border border-gray-200 duration-500 group hover:-translate-y-1 hover:scale-[1.01] p-3 rounded">
            <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            <div class="space-y-1">
                <div class="h-2 bg-gray-200 rounded"></div>
                <div class="h-2 bg-gray-200 rounded w-3/4"></div>
            </div>
          </div>
  
          <div class="w-[188px] h-[256px] border border-gray-200 duration-500 group hover:-translate-y-1 hover:scale-[1.01] p-3 rounded">
            <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            <div class="space-y-1">
                <div class="h-2 bg-gray-200 rounded"></div>
                <div class="h-2 bg-gray-200 rounded w-3/4"></div>
            </div>
          </div>
          <div class="w-[188px] h-[256px] border border-gray-200 duration-500 group hover:-translate-y-1 hover:scale-[1.01] p-3 rounded">
            <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            <div class="space-y-1">
                <div class="h-2 bg-gray-200 rounded"></div>
                <div class="h-2 bg-gray-200 rounded w-3/4"></div>
            </div>
          </div>
          <div class="w-[188px] h-[256px] border border-gray-200 duration-500 group hover:-translate-y-1 hover:scale-[1.01] p-3 rounded">
            <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            <div class="space-y-1">
                <div class="h-2 bg-gray-200 rounded"></div>
                <div class="h-2 bg-gray-200 rounded w-3/4"></div>
            </div>
          </div>
          <div class="w-[188px] h-[256px] border border-gray-200 duration-500 group hover:-translate-y-1 hover:scale-[1.01] p-3 rounded">
            <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            <div class="space-y-1">
                <div class="h-2 bg-gray-200 rounded"></div>
                <div class="h-2 bg-gray-200 rounded w-3/4"></div>
            </div>
          </div>
  
          <div class="w-[188px] h-[256px] border border-gray-200 duration-500 group hover:-translate-y-1 hover:scale-[1.01] p-3 rounded">
            <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            <div class="space-y-1">
                <div class="h-2 bg-gray-200 rounded"></div>
                <div class="h-2 bg-gray-200 rounded w-3/4"></div>
            </div>
          </div>
          <div class="w-[188px] h-[256px] border border-gray-200 duration-500 group hover:-translate-y-1 hover:scale-[1.01] p-3 rounded">
            <div class="w-32 h-32 bg-gray-200 rounded mb-2"></div>
            <div class="space-y-1">
                <div class="h-2 bg-gray-200 rounded"></div>
                <div class="h-2 bg-gray-200 rounded w-3/4"></div>
            </div>
          </div>
  
        </div> <!-- end of sno-news-container -->
        <button class="w-full mt-4 px-4 py-2 border border-gray-300 rounded text-sm hover:bg-gray-50">More News</button>
      </div>
    </div>
  </div>

  
  
</main>

