---
layout: base-snow-report.njk
pagination: 
  data: resorts
  size: 1
  alias: resorts
permalink: /snow-report/{{ resorts.stateName }}/index.html
---


<div class="conditions">
    <div id="container-snow-reports" class="container-snow-reports">
      Conditions go here
    </div>
</div>