---
layout: generic-page.njk
title: SnoNews signup 
---
<style>
  #news-post {
    padding-bottom: 25px;
  }
  .contact-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-container .item {
    margin: 5px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex: 0 1 250px;
  }
  .simple-header {
    margin-bottom:10px;
    font-weight: 600;
  }
  p {
    margin-bottom:10px;
  }
  ul.clean {
    margin: unset;
    padding:0;
  }
  ul.clean li {
    margin-bottom: unset;
  }
</style>
<div id="news-post" class="post">
  <div class="post-panel">
    <!-- <h1 id="title" class="title">SnoCountry Newsletter Sign Up</h1> -->
    <div>
      <center>
        <iframe src="https://signup.e2ma.net/signup/1877796/1889231/" width="95%" height="1051" frameborder="0"></iframe>
      </center>
    </div>
  </div>
</div>