// Base Sass file for SnoCountry
// Variables
$font-primary: 'Brandon Grotesque', 'Mulish', Helvetica Neue, Arial, Sans-serif;
$font-weight-normal: 400;

// Base styles
html {
    /* font-family: sans-serif; */
   -ms-text-size-adjust: 100%; /* 2 */
   -webkit-text-size-adjust: 100%; /* 2 */
   font-family: $font-primary;
   font-weight: $font-weight-normal;
}
